/*ion-slides {
  height: 100%;
}

ion-slide {
  width: 100%;
}*/

.laminas {
    padding: 20px;
    font-size: 14px;
}

section {
    padding: 10px;
    color: black;
    /*text-align: center;*/
    height: 50%;
    /*background-color: whitesmoke;*/
}

.superior {
    /*background: linear-gradient(to right, rgba(255,255,255,0) 20%,
    rgba(255,255,255,1)), url('/assets/subscribe.jpg');*/
    background-size: cover;
}

.graphics8 {
    background-color: #E9EAFF;
    width: 100%;
}

.nombre {
    font-size: 20px;
    color: #767586;
}

.subtitulo {
    font-size: 12px;
    color: #767586;
}

.titulo {
    font-family: 'Lato-Regular';
    color: #767586;
    font-size: 16px;
}

ion-row {
    align-items: left;
    text-align: left;
}

.laminas {
    padding: 20px;
    font-size: 14px;
}

.lamina-texto {
    font-size: 14px;
    color: #767586;
}

.pantalla {
    padding: 10%;
}

.botonLogin {
    --background: #fff;
    --color-activated: #fff;
    --color: #424D99;
}

.card-content-ios h5 {
    font-size: 15px;
    line-height: 2em;
}

.graphics8 {
    background-color: #E9EAFF;
    width: 100%;
}

.icoCheck {
    display: inline-flex;
    padding-bottom: 10px;
    line-height: 20px;
    margin-top: 10px;
}

.cardMorado {
    background-color: #424D99;
    // height: 650px;
}

.cardAmarillo {
    background-color: #FFBF60;
    // height: 650px;
}

.destacado {
    padding-left: 5px;
    padding-right: 5px;
}

.imgPadding {
    padding-right: 5px;
}