<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button>
                <img src='assets/icon/Icon-menu.svg'>
            </ion-menu-button>
        </ion-buttons>

        <ion-title>
            <app-icono-bt></app-icono-bt>
        </ion-title>

        <ion-col slot="end">
            <img src="assets/logo - qmuv.svg" width="40%" />
        </ion-col>
    </ion-toolbar>
</ion-header>

<ion-content>
    <section class="laminas">
        <ion-slides #slider pager="true" [options]="slideOpts">
            <!--0-->
            <ion-slide>
                <ion-card class="cardMorado">
                    <img class="graphics8" src="assets/sus-personal0.svg" width="50%" />
                    <ion-grid>
                        <ion-row>
                            <ion-col size="12" style="margin-top: 30px; text-align: center;">
                                <ion-badge color="warning" style="color:#424D99; font-size: 1.2rem;">{{'SUBSCRIPTION.Bienvenida.texto1' | translate}}</ion-badge>
                                <br><br>
                                <ion-text color="light tint">
                                    <span style="font-size: 18px;"><b>{{'SUBSCRIPTION.Bienvenida.texto2' | translate}}</b></span>
                                    <br>
                                    <span style="font-size: 13px;">{{'SUBSCRIPTION.Bienvenida.texto3' | translate}}
                    <br><br><br>
                      <ion-icon name="notifications-sharp" color="warning" style="font-size: 1.5rem; margin-top:10px;"></ion-icon>
                    </span>
                                    <br>
                                    <span style="font-size: 15px;">{{'SUBSCRIPTION.Bienvenida.texto4a' | translate}} <b class="destacado">{{'SUBSCRIPTION.Bienvenida.texto4b' | translate}} </b></span>
                                </ion-text>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-slide>

            <!--1-->
            <ion-slide>
                <ion-card class="cardMorado">
                    <!-- img class="graphics8" src="assets/sus-personal1.svg" / -->
                    <img class="graphics8" src="assets/sus-1{{'COMUN.img_sufijo' | translate}}.png" />
                    <!-- <ion-grid>
                        <ion-row>
                            <ion-col size="12" style="text-align: center;">
                                <ion-text color="light tint">
                                    <ion-badge color="warning" style="color:#424D99; font-size: 1.2rem;">{{'SUBSCRIPTION.plan1.texto1' | translate}}</ion-badge>
                                    <br>
                                    <span style="font-size: 26px;"><b>{{'SUBSCRIPTION.plan1.texto2a' | translate}}</b> <small>/ {{'SUBSCRIPTION.plan1.texto2b' | translate}}</small></span>
                                    <br>
                                    <span style="font-size: 13px;">{{'SUBSCRIPTION.plan1.texto3' | translate}}</span>
                                    <br>
                                </ion-text>
                            </ion-col>

                            <br><br>

                            <ion-col size="12">
                                <ion-text color="light tint">
                                    <span style="font-size: 13px; font-weight: bold;">{{'SUBSCRIPTION.plan1.texto4' | translate}}</span>
                                    <br>
                                    <span class="icoCheck"><img src="assets/icon/ico-check.svg"><b class="destacado">{{'SUBSCRIPTION.plan1.texto5' | translate}}</b></span>
                                    <br>
                                    <span class="icoCheck"><img src="assets/icon/ico-check.svg" class="imgPadding"><div>{{'SUBSCRIPTION.plan1.texto6a' | translate}}<b class="destacado">{{'SUBSCRIPTION.plan1.texto6b' | translate}} </b>  {{'SUBSCRIPTION.plan1.texto6c' | translate}} </div>  </span>
                                    <br>
                                    <span class="icoCheck"><img src="assets/icon/ico-check.svg"><div><b class="destacado">{{'SUBSCRIPTION.plan1.texto7a' | translate}}</b>{{'SUBSCRIPTION.plan1.texto7b' | translate}}</div></span>
                                    <br>
                                    <span class="icoCheck"><img src="assets/icon/ico-close.svg" class="imgPadding"> {{'SUBSCRIPTION.plan1.texto8' | translate}}</span>
                                    <br>
                                    <span class="icoCheck"><img src="assets/icon/ico-close.svg" class="imgPadding"> {{'SUBSCRIPTION.plan1.texto9' | translate}} </span>
                                </ion-text>
                            </ion-col>
                        </ion-row>
                    </ion-grid> -->
                </ion-card>
            </ion-slide>

            <!--2-->
            <ion-slide>
                <ion-card class="cardAmarillo">
                    <!-- img class="graphics8" src="assets/sus-personal2.svg" / -->
                    <img class="graphics8" src="assets/sus-2{{'COMUN.img_sufijo' | translate}}.png" />
                    <!--
                    <ion-grid>
                        <ion-row>
                            <ion-col size="12" style="text-align: center;">
                                <ion-text color="primary">
                                    <ion-badge color="primary" style="font-size: 1.2rem;">{{'SUBSCRIPTION.plan2.texto1' | translate}}</ion-badge>
                                    <br>
                                    <span style="font-size: 26px;"><b>{{'SUBSCRIPTION.plan2.texto2a' | translate}}</b> <small>/ {{'SUBSCRIPTION.plan2.texto2b' | translate}}</small></span>
                                    <br>
                                    <span style="font-size: 13px;">{{'SUBSCRIPTION.plan2.texto3' | translate}}</span>
                                </ion-text>
                            </ion-col>

                            <ion-col size="12">
                                <ion-text color="primary">
                                    <span style="font-size: 13px; font-weight: bold;">{{'SUBSCRIPTION.plan2.texto4' | translate}}</span>
                                    <br>
                                    <span class="icoCheck"> <img src="/assets/icon/ico-ckeck2.svg"  ><b class="destacado">{{'SUBSCRIPTION.plan2.texto5' | translate}}</b></span>
                                    <br>
                                    <span class="icoCheck"> <img src="/assets/icon/ico-ckeck2.svg" class="imgPadding"><div>{{'SUBSCRIPTION.plan2.texto6a' | translate}}<b class="destacado">{{'SUBSCRIPTION.plan2.texto6b' | translate}}</b>{{'SUBSCRIPTION.plan2.texto6c' | translate}}</div></span>
                                    <br>
                                    <span class="icoCheck"> <img src="/assets/icon/ico-ckeck2.svg" ><b class="destacado">{{'SUBSCRIPTION.plan2.texto8' | translate}}</b></span>
                                    <br>
                                    <span class="icoCheck"> <img src="/assets/icon/ico-ckeck2.svg" ><b class="destacado">{{'SUBSCRIPTION.plan2.texto9' | translate}}</b></span>
                                    <br>
                                    <span class="icoCheck"> <img src="/assets/icon/ico-ckeck2.svg" ><b class="destacado">{{'SUBSCRIPTION.plan2.texto10' | translate}}</b></span>
                                </ion-text>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                -->
                </ion-card>
            </ion-slide>

            <!--3-->
            <ion-slide>
                <ion-card class="cardMorado">
                    <!-- img class="graphics8" src="assets/sus-personal3.svg" / -->
                    <img class="graphics8" src="assets/sus-3{{'COMUN.img_sufijo' | translate}}.png" />
                    <!-- <ion-grid>
                        <ion-row>
                            <ion-col size="12" style="text-align: center;">
                                <ion-text color="light tint">
                                    <ion-badge color="warning" style="color:#424D99; font-size: 1.2rem;">{{'SUBSCRIPTION.plan3.texto1' | translate}}</ion-badge>
                                    <br>
                                    <span style="font-size: 26px;"><b>{{'SUBSCRIPTION.plan3.texto2a' | translate}} </b> <small>/ {{'SUBSCRIPTION.plan3.texto2b' | translate}}</small></span>
                                    <br>
                                    <span style="font-size: 13px;">{{'SUBSCRIPTION.plan3.texto3' | translate}}</span>
                                    <br>
                                </ion-text>
                            </ion-col>

                            <ion-col size="12">
                                <ion-text color="light tint">
                                    <span style="font-size: 13px; font-weight: bold;">{{'SUBSCRIPTION.plan3.texto4' | translate}}:</span>
                                    <br>
                                    <span class="icoCheck"><img src="assets/icon/ico-check.svg"><b class="destacado">{{'SUBSCRIPTION.plan3.texto5a' | translate}}</b>{{'SUBSCRIPTION.plan3.texto5b' | translate}}</span>
                                    <br>
                                    <span class="icoCheck"><img src="assets/icon/ico-check.svg" class="imgPadding"><div>{{'SUBSCRIPTION.plan3.texto6a' | translate}}<b class="destacado">{{'SUBSCRIPTION.plan3.texto6b' | translate}}</b>{{'SUBSCRIPTION.plan3.texto6c' | translate}}</div> </span>
                                    <br>
                                    <span class="icoCheck"><img src="assets/icon/ico-check.svg" class="imgPadding"><div>{{'SUBSCRIPTION.plan3.texto7a' | translate}}<b class="destacado">{{'SUBSCRIPTION.plan3.texto7b' | translate}}</b></div></span>
                                    <br>
                                    <span class="icoCheck"><img src="assets/icon/ico-check.svg" class="imgPadding"><div>{{'SUBSCRIPTION.plan3.texto8a' | translate}}<b class="destacado">{{'SUBSCRIPTION.plan3.texto8b' | translate}}</b></div></span>
                                    <br>
                                    <span class="icoCheck"><img src="assets/icon/ico-check.svg" ><b class="destacado">{{'SUBSCRIPTION.plan3.texto9' | translate}}</b></span>
                                    <br>
                                    <span class="icoCheck"><img src="assets/icon/ico-check.svg" ><b class="destacado">{{'SUBSCRIPTION.plan3.texto10' | translate}}</b></span>
                                    <br>
                                    <span class="icoCheck"><img src="assets/icon/ico-check.svg" ><b class="destacado">{{'SUBSCRIPTION.plan3.texto11' | translate}}</b></span>
                                </ion-text>
                            </ion-col>
                        </ion-row>
                    </ion-grid> -->
                </ion-card>
            </ion-slide>

        </ion-slides>
    </section>


</ion-content>
<app-menu-inferior></app-menu-inferior>