<ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="{{ 'COMUN.volver' | translate }}"></ion-back-button>
      </ion-buttons>
      <ion-col slot="end">
      <img src="assets/logo - qmuv.svg" width="40%"/>
    </ion-col>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-row>
      <ion-col>
        <ion-list-header>
        <section *ngIf="paciente">
          <span class="titulo"><!--Historial de-->{{ 'HIST.tit' | translate }} {{paciente.nombre}}</span>
        </section>
        </ion-list-header>
        <span class="bajadatitulo"><!--Elige el Test-->{{ 'HIST.elije' | translate }}</span>
        
      </ion-col>
    </ion-row>

    <ion-card>
      <img class="graphics8" src="assets/tests/Timed-up-and-go{{'COMUN.img_sufijo' | translate}}.svg" />
      <ion-card-header>
          <ion-row class="ion-align-items-start">
              <ion-col size="10">
                <ion-card-title class="titulocard"><b><!--Análisis riesgo de caídas-->{{ 'HIST.rof' | translate }}</b></ion-card-title>
                <ion-badge color="danger" *ngIf="cantidadUPGO==0"><!--Sin historial-->{{ 'HIST.sin_his' | translate }}</ion-badge>
                <!--<ion-card-subtitle color="primary" *ngIf="cantidadUPGO==0">Sin historial</ion-card-subtitle>-->
              </ion-col>
              <ion-col *ngIf="cantidadUPGO>0" size="2" class="ion-align-self-end" (click)="gotoHistorialUPGO()"><!-- [routerLink]="['/upgo-historial/' + paciente.id]" -->
                <img src="assets/icon/button-next.svg"/>
              </ion-col>
          </ion-row>
      </ion-card-header>
    </ion-card>
   
    <ion-card>
      <img class="graphics8" src="assets/tests/Test-10-metros{{'COMUN.img_sufijo' | translate}}.svg" />
      <ion-card-header>
        <ion-row class="ion-align-items-start">
            <ion-col size="10">
                <ion-card-title class="titulocard"><b><!--Análisis de marcha-->{{ 'HIST.10mts' | translate }}</b></ion-card-title>
                <ion-badge color="danger" *ngIf="cantidad10mts==0"><!--Sin historial-->{{ 'HIST.sin_his' | translate }}</ion-badge>
                <!--<ion-card-subtitle color="primary" *ngIf="cantidad10mts==0">Sin historial</ion-card-subtitle>-->
            </ion-col>
            <ion-col *ngIf="cantidad10mts>0" size="2" class="ion-align-self-end" (click)="gotoHistorial10MTS()"> <!-- [routerLink]="['/diez-mtr-historial/' + paciente.id]" -->
                      <img src="assets/icon/button-next.svg"/>
            </ion-col>
        </ion-row>
      </ion-card-header>
    </ion-card>
      
    
  </ion-list>
</ion-content>

<app-menu-inferior></app-menu-inferior>