.graphics8 {
    background-color: #E9EAFF;
    width: 100%;
  }

  .titulo{
    font-family: 'Lato-Regular';
    color: #424D99;
    font-size: 20px;
}

  .titulocard {
  font-size: 20px;
  color: #767586;
  /*padding-top: 10px;*/
}

  .bajadatitulo{
  font-size: 16px;
  color: #767586;
  padding-left: 20px;
}