<ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button>
          <img src='assets/icon/Icon-menu.svg'>
        </ion-menu-button>
      </ion-buttons>
      
      <ion-title>
        <app-icono-bt></app-icono-bt>
      </ion-title>
  
      <ion-col slot="end">
        <img src="assets/logo - qmuv.svg" width="40%"/>
      </ion-col>
    </ion-toolbar>
  </ion-header>

<ion-content>

  <ion-searchbar [formControl]="searchControl" (ionChange)="onSearchInput()" placeholder="{{ 'PACI_ELIM.filtro' | translate }}"></ion-searchbar>
  
      <ion-list-header>
          <p class="titulo" style="white-space: nowrap;"><!--Mis pacientes eliminados-->{{ 'PACI_ELIM.titulo' | translate }}</p>
          <div *ngIf="searching" class="spinner-container">
            <ion-spinner></ion-spinner>
          </div>
        </ion-list-header>
    
   <ion-card *ngFor="let paciente of pacientes; let idx = index">
    <ion-item-sliding>
      <ion-item-options side="start">
        <ion-item-option (click)="restaura(idx)" color="success">
          <ion-icon slot="icon-only" name="arrow-undo" style="color:white;"></ion-icon>
          <span style="color:white;"><!--Restaurar-->{{ 'PACI_ELIM.restaura' | translate }}</span> 
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
       <ion-item-option (click)="elimina(idx)" color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
          <!--Eliminar-->
          {{ 'PACI_ELIM.elimina' | translate }}
        </ion-item-option>
      </ion-item-options>

    <!--<ion-item  button detail routerDirection="forward" [routerLink]="['/paciente-detalle/' + paciente.id]" style="--inner-border-width: 0px 0px 0px 0px;">-->
      <ion-item style="--inner-border-width: 0px 0px 0px 0px;">
      <ion-label>
         <ion-row class="ion-align-items-start">
            <ion-col size="10">
            <h2>{{paciente.nombre}}</h2>
            <h3>{{paciente.fechaNacimiento}}</h3>
            <!--<p>{{paciente.correo}}</p>-->
            </ion-col>
            <!--<ion-col size="2" class="ion-align-self-end">
                <ion-icon src="assets/icon/Icon-edit-active.svg" style="font-size:25px; margin-bottom: 20px;" routerDirection="forward" [routerLink]="['/paciente-detalle/' + paciente.id]"></ion-icon>
            </ion-col>-->
         </ion-row>
      </ion-label>
    </ion-item>
  
    </ion-item-sliding>
  </ion-card> 

  <div *ngIf="!searching && (pacientes == null || pacientes.length == 0)">
    <p style="text-align: center;">
      <!--Sin pacientes encontrados-->
      {{ 'PACI_ELIM.sin_pacientes' | translate }}
    </p>
  </div>
  

</ion-content>
<app-menu-inferior></app-menu-inferior>
