<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button>
                <img src='assets/icon/Icon-menu.svg'>
            </ion-menu-button>
        </ion-buttons>

        <ion-title>
            <app-icono-bt></app-icono-bt>
        </ion-title>

        <ion-col slot="end">
            <img src="assets/logo - qmuv.svg" width="40%" />
        </ion-col>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!--
    <table>
      <tr>
        <td>
          <select [(ngModel)]="pacienteSeleccionado">
            <option [value]=null>Seleccione un paciente</option>
            <option [ngValue]="item" *ngFor="let item of pacientes">{{item.nombre}}</option>
          </select>
        </td>
      </tr>
    </table>
    -->
    <form [formGroup]="userForm" (ngSubmit)="tryEnvia(userForm.value)">
        <ion-list>
            <ion-list-header>
                <span class="titulo"><!--Genera reportes automáticos-->{{ 'REPO.titulo' | translate }}</span>
            </ion-list-header>
            <ion-col style="padding-left:20px; ">
                <small>(*) <!--campos requeridos-->{{ 'REPO.req' | translate }}</small>
            </ion-col>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>
                        <!--Datos de-->{{ 'REPO.datos_de' | translate }}:</ion-card-subtitle>
                </ion-card-header>
                <ion-list>

                    <ion-item>
                        <ion-label>
                            <!--Paciente-->{{ 'REPO.paciente' | translate }} <b class="requerido">*</b>
                        </ion-label>
                        <div class="selectUsuario" *ngIf="nombrePaciente === '' ;else seleccionaPaciente" (click)="presentModal()">{{'REPO.selecPaciente'| translate}}</div>
                        <ng-template #seleccionaPaciente>
                            <div (click)="presentModal()">{{nombrePaciente}}</div>
                        </ng-template>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.paciente">
                                <div class="error-message" *ngIf="userForm.get('paciente').hasError(validation.type) && (userForm.get('paciente').dirty || userForm.get('paciente').touched)">
                                    <small>{{ validation.message }}</small>
                                </div>
                            </ng-container>
                        </div>
                    </ion-item>
                    <div class="ion-text-center" *ngIf="!repoCompara"><small><!--Mejora tu plan para acceder al reporte comparativo-->{{ 'REPO.mejora' | translate }}</small></div>
                    <ion-item>
                        <ion-label>
                            <!--Test UP&GO-->{{ 'REPO.test_upgo' | translate }}</ion-label>
                        <ion-select multiple="true" cancelText="{{ 'COMUN.cancelar' | translate }}" okText="{{ 'COMUN.aceptar' | translate }}" formControlName="testUPGO" [disabled]="!existeDataPrueba1">
                            <ion-select-option value="ULT">
                                <!--Última sesion-->{{ 'REPO.ult_ses' | translate }}</ion-select-option>
                            <ion-select-option *ngIf="repoCompara" value="HIS">
                                <!--Reporte comparativo-->{{ 'REPO.rep_com' | translate }}</ion-select-option>
                            <ion-select-option *ngIf="!repoCompara" value="HIS" disabled=true>
                                <!--Reporte comparativo-->{{ 'REPO.rep_com' | translate }}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <div class="ion-text-center" *ngIf="!repoCompara"><small><!--Mejora tu plan para acceder al reporte comparativo-->{{ 'REPO.mejora' | translate }}</small></div>
                    <ion-item>
                        <ion-label>
                            <!--Test 10mts-->{{ 'REPO.test_10mts' | translate }}</ion-label>
                        <ion-select multiple="true" cancelText="{{ 'COMUN.cancelar' | translate }}" okText="{{ 'COMUN.aceptar' | translate }}" formControlName="test30mts" [disabled]="!existeDataPrueba2">
                            <ion-select-option value="ULT">
                                <!--Última sesion-->{{ 'REPO.ult_ses' | translate }}</ion-select-option>
                            <ion-select-option *ngIf="repoCompara" value="HIS">
                                <!--Reporte comparativo-->{{ 'REPO.rep_com' | translate }}</ion-select-option>
                            <ion-select-option *ngIf="!repoCompara" value="HIS" disabled=true>
                                <!--Reporte comparativo-->{{ 'REPO.rep_com' | translate }}</ion-select-option>
                        </ion-select>

                    </ion-item>
                </ion-list>
            </ion-card>

        </ion-list>

        <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>
                        <!--Destinatario-->{{ 'REPO.destinatario' | translate }}</ion-card-subtitle>
                </ion-card-header>

                <ion-item>
                    <ion-select style="min-width: 100% !important;" placeholder="Selecciona" formControlName="destinatario" (ionChange)="onDestChange($event)" okText="{{ 'COMUN.aceptar' | translate }}" cancelText="{{ 'COMUN.cancelar' | translate }}">
                        <ion-select-option value="0">
                            <!--El mismo paciente-->{{ 'REPO.dest.paci' | translate }}</ion-select-option>
                        <ion-select-option value="2">
                            <!--A mi correo-->{{ 'REPO.dest.yo' | translate }}</ion-select-option>
                        <ion-select-option value="1">
                            <!--Otro destinatario-->{{ 'REPO.dest.otro' | translate }}</ion-select-option>
                    </ion-select>
                </ion-item>

                <div *ngIf="muestraDatosDest">
                    <ion-item>
                        <ion-label position="stacked">
                            <!--Nombre-->{{ 'REPO.otro_nom' | translate }} <b class="requerido">*</b></ion-label>
                        <ion-input formControlName="nombre" class="form-controll" required></ion-input>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.nombre">
                                <div class="error-message" *ngIf="userForm.get('nombre').hasError(validation.type) && (userForm.get('nombre').dirty || userForm.get('nombre').touched)">
                                    <small>{{ validation.message }}</small>
                                </div>
                            </ng-container>
                        </div>
                    </ion-item>

                    <ion-item>
                        <ion-label position="stacked">
                            <!--Correo electrónico-->{{ 'REPO.otro_email' | translate }} <b class="requerido">*</b></ion-label>
                        <ion-input formControlName="email" class="form-controll" required></ion-input>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.email">
                                <div class="error-message" *ngIf="userForm.get('email').hasError(validation.type) && (userForm.get('email').dirty || userForm.get('email').touched)">
                                    <small>{{ validation.message }}</small>
                                </div>
                            </ng-container>
                        </div>
                    </ion-item>
                </div>

            </ion-card>

        </ion-list>

        <div class="ion-padding">
            <ion-button expand="block" shape="round" type="submit" class="ion-no-margin" [disabled]="userForm.valid">
                <!--Enviar-->{{ 'COMUN.enviar' | translate }}</ion-button>
        </div>
    </form>
    <br/><br/>

</ion-content>

<canvas #barCanvasRiesgoCaida id="canvas" style="position: absolute; visibility: hidden; z-index: -100;"></canvas>
<canvas #barCanvasVelocidadMarcha id="canvas2" style="position: absolute; visibility: hidden; z-index: -100;"></canvas>

<app-menu-inferior pagina="cuatro"></app-menu-inferior>