ion-card {
    padding-bottom: 30px;
}

ion-label {
    font-size: 16px !important;
}

.titulo {
    font-family: "Lato-Regular";
    color: #424d99;
    font-size: 20px;
}

.error-message {
    color: red;
}

.requerido {
    color: red;
}

ion-card-subtitle {
    color: #767586;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-transform: capitalize;
}

.my-custom-class {
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

ion-modal.app-seleccion-paciente {
    @media (min-height: 500px) {
        ion-backdrop {
            visibility: visible;
        }
    }
    .sc-ion-modal-ios-h {
        width: 70% !important;
        min-width: auto;
        max-width: auto;
        height: 50% !important;
    }
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    contain: strict;
    .modal-wrapper {
        &,
        .ion-page,
        .ion-page .content,
        .ion-page .content .scroll-content {
            contain: content;
            position: relative;
            top: auto;
            left: auto;
        }
        display: flex;
        overflow: hidden;
        flex-direction: column;
        opacity: 0;
        height: auto;
    }
}

.selectUsuario {
    font-size: 14px;
    color: #bcbcbc;
}