<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="{{ 'COMUN.volver' | translate }}"></ion-back-button>
        </ion-buttons>
        <ion-col slot="end">
            <img src="assets/logo - qmuv.svg" width="40%" />
        </ion-col>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-row>
            <ion-col>
                <ion-list-header>
                    <section class="laminas" *ngIf="analisis">
                        <span class="titulo"><!--Historial de-->{{ 'HIST.tit' | translate }} {{paciente?.nombre}}</span>
                    </section>
                </ion-list-header>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-segment [(ngModel)]="seleccion" (ionChange)="segmentChanged($event)">
                    <ion-segment-button value=1>
                        <ion-label><!--Última sesión-->{{ 'HIST.ses_ult' | translate }}</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value=2>
                        <ion-label><!--Últimas 10 sesiones-->{{ 'HIST.ses_10' | translate }}</ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-col>
        </ion-row>

        <!-- S E L E C C I O N 1 -->
        <div *ngIf="seleccion==1">




            <!--======= aqui va el grafico ======= -->
            <ion-slides #slider pager="true" [options]="slideOpts1">
                <!--1 -->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-card [ngClass]="{'tarjetaDestacada': !destacado1}">
                                    <ion-col size="12">
                                        <span class="subtitulo"> <!--Medición-->{{ 'TEST.10MTS.medi' | translate }} 1 <small *ngIf="destacado1">{{glosaResaltado}}</small></span>
                                    </ion-col>
                                    <canvas #lineCanvas1></canvas>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>
                <!--2-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-card [ngClass]="{'tarjetaDestacada': !destacado2}">
                                    <ion-col size="12">
                                        <span class="subtitulo"> <!--Medición-->{{ 'TEST.10MTS.medi' | translate }} 2 <small *ngIf="destacado2">{{glosaResaltado}}</small></span>
                                    </ion-col>
                                    <canvas #lineCanvas2></canvas>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>
                <!--3-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-card [ngClass]="{'tarjetaDestacada': !destacado3}">
                                    <ion-col size="12">
                                        <span class="subtitulo"> <!--Medición-->{{ 'TEST.10MTS.medi' | translate }} 3 <small *ngIf="destacado3">{{glosaResaltado}}</small></span>
                                    </ion-col>
                                    <canvas #lineCanvas3></canvas>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>
            </ion-slides>





            <!-- Velocidad de marcha -->
            <section class="laminas" *ngIf="analisis">
                <ion-card>
                    <ion-grid style="padding-left: 15px;">
                        <ion-row>
                            <ion-col size="12">
                                <span class="subtitulo"><!--Velocidad de marcha-->{{ 'TEST.10MTS.velo_march' | translate }} {{analisis.v_gait | number:'1.2-2'}} m/s</span>
                            </ion-col>
                            <ion-col size="9">
                                <ion-list-header style="margin-top: -30px !important; margin-left: -20px; width: auto;">

                                    <ion-badge *ngIf="analisis.v_gait >= 1.2" color="success" style="color:white;">
                                        <ion-icon name="walk-sharp"></ion-icon> <!--Marcha segura-->{{ 'TEST.10MTS.marchas.m1' | translate }}</ion-badge>
                                    <!-- Marcha segura -->
                                    <ion-badge *ngIf="analisis.v_gait >= 0.8 && analisis.v_gait < 1.2" color="warning">
                                        <ion-icon name="walk-sharp"></ion-icon> <!--Marcha comunitaria-->{{ 'TEST.10MTS.marchas.m2' | translate }}</ion-badge>
                                    <!-- Marcha comunitaria -->
                                    <ion-badge *ngIf="analisis.v_gait >= 0.4 && analisis.v_gait < 0.8" class="orange">
                                        <ion-icon name="walk-sharp"></ion-icon> <!--Marcha comunitaria dependiente-->{{ 'TEST.10MTS.marchas.m3' | translate }} </ion-badge>
                                    <!-- Marcha comunitaria dependiente -->
                                    <ion-badge *ngIf="analisis.v_gait < 0.4" color="danger">
                                        <ion-icon name="walk-sharp"></ion-icon> <!--Marcha intra-domicialiaria-->{{ 'TEST.10MTS.marchas.m4' | translate }} </ion-badge>
                                    <!-- Marcha intra-domicialiaria -->

                                    <ion-button size="small" shape="round" color="primary" (click)="notifications(8)" class="botonTooltip" style="margin-left: -20px;">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                    </ion-button>
                                </ion-list-header>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </section>

            <!-- Índices generales Simetría -->
            <section class="laminas" *ngIf="analisis">
                <ion-row>
                    <ion-col>
                        <ion-list-header>
                            <span class="titulo"><!--Simetría-->{{ 'TEST.10MTS.simetria' | translate }}</span>
                            <ion-button size="small" shape="round" color="primary" (click)="notifications(1)">
                                <ion-icon name="information-circle-outline"></ion-icon>
                            </ion-button>
                        </ion-list-header>
                    </ion-col>
                </ion-row>

                <ion-card>

                    <ion-row style="padding-left: 15px;">
                        <ion-col class="ion-align-items-start">
                            <ion-badge class="badge-info" color="secondary">
                                <ion-icon name="man-sharp"></ion-icon> <!--Fase de apoyo-->{{ 'TEST.10MTS.sime.f_apo' | translate }}</ion-badge>
                        </ion-col>
                        <ion-col class="ion-align-self-end ubicacionTexto">
                            <span class="resultados">{{analisis.stance_simetry | number:'1.2-2'}}</span>
                        </ion-col>
                        <div class="item-inner-highlight"></div>
                    </ion-row>

                    <ion-row style="padding-left: 15px;">
                        <ion-col class="ion-align-items-start">
                            <ion-badge class="badge-info" color="tertiary">
                                <ion-icon name="body"></ion-icon> <!--Fase de balanceo-->{{ 'TEST.10MTS.sime.f_bal' | translate }}</ion-badge>
                        </ion-col>
                        <ion-col class="ion-align-self-end ubicacionTexto">
                            <span class="resultados">{{analisis.swing_simetry | number:'1.2-2'}}</span>
                        </ion-col>
                        <div class="item-inner-highlight"></div>
                    </ion-row>

                    <ion-row style="padding-left: 15px;">
                        <ion-col class="ion-align-items-start">
                            <ion-badge class="badge-info" color="secondary">
                                <ion-icon name="walk"></ion-icon> <!--Marcha-->{{ 'TEST.10MTS.sime.f_mar' | translate }}</ion-badge>
                        </ion-col>
                        <ion-col class="ion-align-self-end ubicacionTexto">
                            <span class="resultados">{{analisis.gait_simetry | number:'1.2-2'}}</span>
                        </ion-col>
                        <div class="item-inner-highlight"></div>
                    </ion-row>

                </ion-card>
            </section>

            <!-- Índices espaciales - paso -->
            <section *ngIf="analisis">
                <ion-row>
                    <ion-col>
                        <ion-list-header>
                            <span class="titulo"><!--Índices espaciales-->{{ 'TEST.10MTS.idx_espaciales' | translate }}</span>
                            <ion-button size="small" shape="round" color="primary" (click)="notifications(2)">
                                <ion-icon name="information-circle-outline"></ion-icon>
                            </ion-button>
                        </ion-list-header>
                    </ion-col>
                </ion-row>
                <ion-card>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="3"><!--Apoyo (%)-->{{ 'TEST.10MTS.idx_esp.apo' | translate }}</ion-col>
                            <ion-col size="9">
                                <ion-row>
                                    <ion-col size="6"><b>I</b> <span class="infoIzq">{{analisis.l_stance | number:'1.2-2'}} ± {{analisis.dv_l_stance | number:'1.2-2'}} </span> </ion-col>
                                    <ion-col size="5">
                                        <ion-progress-bar color="warning" class="ubicacionBar" [value]="analisis.l_stance / maximo(analisis.l_stance, analisis.r_stance)"></ion-progress-bar>
                                    </ion-col>
                                    <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="6"><b>D</b> <span class="infoDer"> {{analisis.r_stance | number:'1.2-2'}} ± {{analisis.dv_r_stance | number:'1.2-2'}} </span> </ion-col>
                                    <ion-col size="5">
                                        <ion-progress-bar color="secondary" class="ubicacionBar" [value]="analisis.r_stance / maximo(analisis.l_stance, analisis.r_stance)"></ion-progress-bar>
                                    </ion-col>
                                    <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                                </ion-row>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="3"><!--Balanceo (%)-->{{ 'TEST.10MTS.idx_esp.bal' | translate }}</ion-col>
                            <ion-col size="9">
                                <ion-row>
                                    <ion-col size="6"><b>I</b> <span class="infoIzq">{{analisis.l_swing | number:'1.2-2'}} ± {{analisis.dv_l_swing | number:'1.2-2'}} </span> </ion-col>
                                    <ion-col size="5">
                                        <ion-progress-bar color="warning" class="ubicacionBar" [value]="analisis.l_swing / maximo(analisis.l_swing, analisis.r_swing)"></ion-progress-bar>
                                    </ion-col>
                                    <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="6"><b>D</b> <span class="infoDer"> {{analisis.r_swing | number:'1.2-2'}} ± {{analisis.dv_r_swing | number:'1.2-2'}} </span> </ion-col>
                                    <ion-col size="5">
                                        <ion-progress-bar color="secondary" class="ubicacionBar" [value]="analisis.r_swing / maximo(analisis.l_swing, analisis.r_swing)"></ion-progress-bar>
                                    </ion-col>
                                    <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                                </ion-row>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="3"><!--Largo (mt)-->{{ 'TEST.10MTS.idx_esp.lar' | translate }}</ion-col>
                            <ion-col size="9">
                                <ion-row>
                                    <ion-col size="6"><b>I</b> <span class="infoIzq">{{analisis.l_steplength | number:'1.2-2'}} ± {{analisis.dv_l_steplength | number:'1.2-2'}} </span> </ion-col>
                                    <ion-col size="5">
                                        <ion-progress-bar color="warning" class="ubicacionBar" [value]="analisis.l_steplength / maximo(analisis.l_steplength, analisis.r_steplength)"></ion-progress-bar>
                                    </ion-col>
                                    <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="6"><b>D</b> <span class="infoDer">{{analisis.r_steplength | number:'1.2-2'}} ± {{analisis.dv_r_steplength | number:'1.2-2'}} </span> </ion-col>
                                    <ion-col size="5">
                                        <ion-progress-bar color="secondary" class="ubicacionBar" [value]="analisis.r_steplength / maximo(analisis.l_steplength, analisis.r_steplength)"></ion-progress-bar>
                                    </ion-col>
                                    <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                                </ion-row>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </section>

            <!-- Índices temporales -->
            <section *ngIf="analisis">
                <ion-row>
                    <ion-col>
                        <ion-list-header>
                            <span class="titulo"><!--Índices temporales-->{{ 'TEST.10MTS.idx_temporales' | translate }}</span>
                            <ion-button size="small" shape="round" color="primary" (click)="notifications(3)">
                                <ion-icon name="information-circle-outline"></ion-icon>
                            </ion-button>
                        </ion-list-header>
                    </ion-col>
                </ion-row>
                <ion-card>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="3"><!--Cadencia [pasos/min]-->{{ 'TEST.10MTS.idx_tem.cad' | translate }}</ion-col>
                            <ion-col size="9">
                                <ion-row>
                                    <ion-col size="6"><b>I</b> <span class="infoIzq">{{analisis.l_cadence | number:'1.2-2'}} ± {{analisis.dv_l_cadence | number:'1.2-2'}} </span> </ion-col>
                                    <ion-col size="5">
                                        <ion-progress-bar color="warning" class="ubicacionBar" [value]="analisis.l_cadence / maximo(analisis.l_cadence, analisis.r_cadence)"></ion-progress-bar>
                                    </ion-col>
                                    <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="6"><b>D</b> <span class="infoDer">{{analisis.r_cadence | number:'1.2-2'}} ± {{analisis.dv_r_cadence | number:'1.2-2'}} </span> </ion-col>
                                    <ion-col size="5">
                                        <ion-progress-bar color="secondary" class="ubicacionBar" [value]="analisis.r_cadence / maximo(analisis.l_cadence, analisis.r_cadence)"></ion-progress-bar>
                                    </ion-col>
                                    <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                                </ion-row>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="3"><!--Tiempo de Zancada [s]-->{{ 'TEST.10MTS.idx_tem.tdz' | translate }}</ion-col>
                            <ion-col size="9">
                                <ion-row>
                                    <ion-col size="6"><b>I</b> <span class="infoIzq">{{analisis.l_stridetime | number:'1.2-2'}} ± {{analisis.dv_l_stridetime | number:'1.2-2'}} </span> </ion-col>
                                    <ion-col size="5">
                                        <ion-progress-bar color="warning" class="ubicacionBar" [value]="analisis.l_stridetime / maximo(analisis.l_stridetime, analisis.r_stridetime)"></ion-progress-bar>
                                    </ion-col>
                                    <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="6"><b>D</b> <span class="infoDer">{{analisis.r_stridetime | number:'1.2-2'}} ± {{analisis.dv_r_stridetime | number:'1.2-2'}} </span></ion-col>
                                    <ion-col size="5">
                                        <ion-progress-bar color="secondary" class="ubicacionBar" [value]="analisis.r_stridetime / maximo(analisis.l_stridetime, analisis.r_stridetime)"></ion-progress-bar>
                                    </ion-col>
                                    <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                                </ion-row>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="3"><!--Tiempo de Paso [s]-->{{ 'TEST.10MTS.idx_tem.tdp' | translate }}</ion-col>
                            <ion-col size="9">
                                <ion-row>
                                    <ion-col size="6"><b>I</b> <span class="infoIzq">{{analisis.l_steptime | number:'1.2-2'}} ± {{analisis.dv_l_steptime | number:'1.2-2'}} </span> </ion-col>
                                    <ion-col size="5">
                                        <ion-progress-bar color="warning" class="ubicacionBar" [value]="analisis.l_steptime / maximo(analisis.l_steptime, analisis.r_steptime)"></ion-progress-bar>
                                    </ion-col>
                                    <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="6"><b>D</b> <span class="infoDer">{{analisis.r_steptime | number:'1.2-2'}} ± {{analisis.dv_r_steptime | number:'1.2-2'}} </span></ion-col>
                                    <ion-col size="5">
                                        <ion-progress-bar color="secondary" class="ubicacionBar" [value]="analisis.r_steptime / maximo(analisis.l_steptime, analisis.r_steptime)"></ion-progress-bar>
                                    </ion-col>
                                    <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                                </ion-row>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="3"><!--Tiempo de Soporte Simple [s]-->{{ 'TEST.10MTS.idx_tem.tss' | translate }}</ion-col>
                            <ion-col size="9">
                                <ion-row>
                                    <ion-col size="6"><b>I</b> <span class="infoIzq">{{analisis.l_ssupporttime | number:'1.2-2'}} ± {{analisis.dv_l_ssupporttime | number:'1.2-2'}} </span> </ion-col>
                                    <ion-col size="5">
                                        <ion-progress-bar color="warning" class="ubicacionBar" [value]="analisis.l_ssupporttime / maximo(analisis.l_ssupporttime, analisis.r_ssupporttime)"></ion-progress-bar>
                                    </ion-col>
                                    <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="6"><b>D</b> <span class="infoDer">{{analisis.r_ssupporttime | number:'1.2-2'}} ± {{analisis.dv_r_ssupporttime | number:'1.2-2'}} </span> </ion-col>
                                    <ion-col size="5">
                                        <ion-progress-bar color="secondary" class="ubicacionBar" [value]="analisis.r_ssupporttime / maximo(analisis.l_ssupporttime, analisis.r_ssupporttime)"></ion-progress-bar>
                                    </ion-col>
                                    <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                                </ion-row>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="3"><!--Tiempo de Soporte Doble [s]-->{{ 'TEST.10MTS.idx_tem.tsd' | translate }}</ion-col>
                            <ion-col size="9">
                                <ion-row>
                                    <ion-col size="6"><b>I</b> <span class="infoIzq">{{analisis.l_dsupporttime | number:'1.2-2'}} ± {{analisis.dv_l_dsupporttime | number:'1.2-2'}} </span> </ion-col>
                                    <ion-col size="5">
                                        <ion-progress-bar color="warning" class="ubicacionBar" [value]="analisis.l_dsupporttime / maximo(analisis.l_dsupporttime, analisis.r_dsupporttime)"></ion-progress-bar>
                                    </ion-col>
                                    <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="6"><b>D</b> <span class="infoDer"> {{analisis.r_dsupporttime | number:'1.2-2'}} ± {{analisis.dv_r_dsupporttime | number:'1.2-2'}} </span> </ion-col>
                                    <ion-col size="5">
                                        <ion-progress-bar color="secondary" class="ubicacionBar" [value]="analisis.r_dsupporttime / maximo(analisis.l_dsupporttime, analisis.r_dsupporttime)"></ion-progress-bar>
                                    </ion-col>
                                    <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                                </ion-row>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </section>

        </div>

        <!-- S E L E C C I O N 2 -->
        <div *ngIf="seleccion==2">

            <!-- Velocidad de marcha -->
            <!--<ion-row>
        <ion-col>
          <ion-list-header>
              <span class="titulo">Velocidad de marcha</span>
              <ion-button size="small" shape="round" color="primary" (click)="notifications(12)">  
                <ion-icon name="information-circle-outline"></ion-icon>
              </ion-button>  
          </ion-list-header>
        </ion-col>
    </ion-row>
    <ion-card>
      <ion-col class="subtitulo">
        {{velocidadPromedio | number}} m/s
      </ion-col>
    </ion-card>-->
            <ion-card>
                <ion-grid style="padding-left: 15px;">
                    <ion-row>
                        <ion-col size="12">
                            <span class="subtitulo"><!--Velocidad de marcha-->{{ 'TEST.10MTS.velo_march' | translate }} {{velocidadPromedio | number:'1.2-2'}} m/s</span>
                            <!--<ion-button size="small"  color="primary" (click)="notifications(12)">  
                <ion-icon name="information-circle-outline"></ion-icon>
              </ion-button>-->
                        </ion-col>
                        <ion-col size="12">
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card>

            <!-- Evolución global del usuario -->
            <ion-row>
                <ion-col>
                    <ion-list-header class="prueba">
                        <span class="titulo"><!--Evolución global del usuario-->{{ 'TEST.10MTS.ult_10.evo_glob' | translate }}</span>
                        <ion-button size="small" shape="round" color="primary" (click)="notifications(19)">
                            <ion-icon name="information-circle-outline"></ion-icon>
                        </ion-button>
                    </ion-list-header>
                </ion-col>
            </ion-row>
            <!-- aqui va el grafico-->
            <ion-card>
                <canvas #barCanvasVelocidadMarcha></canvas>
            </ion-card>

            <!-- Evolución índices espaciales -->
            <ion-row>
                <ion-col>
                    <ion-list-header>
                        <span class="titulo"><!--Evolución índices espaciales-->{{ 'TEST.10MTS.ult_10.evo_esp' | translate }}</span>
                        <ion-button size="small" shape="round" color="primary" (click)="notifications(13)">
                            <ion-icon name="information-circle-outline"></ion-icon>
                        </ion-button>
                    </ion-list-header>
                </ion-col>
            </ion-row>

            <ion-slides class="slidesPageTwo" #slider pager="true" [options]="slideOpts">
                <!--1-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-card>
                                    <ion-card-subtitle><!--Apoyo-->{{ 'TEST.10MTS.idx_esp.apo' | translate }}</ion-card-subtitle>
                                    <ion-card-title class="titulo" style="text-align: center !important;">
                                        <small><!--Tendencia-->{{ 'TEST.10MTS.ult_10.tendencia' | translate }}</small>
                                        <span *ngIf="tend7[0] == 1" class="iconTendencia"><ion-icon [color]="tend7[1] == 1 ? 'success' : (tend7[1] == -1 ? 'danger' : 'medium')" name="arrow-up-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                        <span *ngIf="tend7[0] == 0" class="iconTendencia"><ion-icon [color]="tend7[1] == 1 ? 'success' : (tend7[1] == -1 ? 'danger' : 'medium')" name="remove-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                        <span *ngIf="tend7[0] == -1" class="iconTendencia"><ion-icon [color]="tend7[1] == 1 ? 'success' : (tend7[1] == -1 ? 'danger' : 'medium')" name="arrow-down-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                    </ion-card-title>
                                    <!-- aqui va el grafico-->
                                    <canvas #lineCanvasApoyo></canvas>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>
                <!--2-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-card>
                                    <ion-card-subtitle><!--Balanceo-->{{ 'TEST.10MTS.idx_esp.bal' | translate }}</ion-card-subtitle>
                                    <ion-card-title class="titulo" style="text-align: center !important;">
                                        <small> <!--Tendencia-->{{ 'TEST.10MTS.ult_10.tendencia' | translate }} </small>
                                        <span *ngIf="tend6[0] == 1" class="iconTendencia"><ion-icon [color]="tend6[1] == 1 ? 'success' : (tend6[1] == -1 ? 'danger' : 'medium')" name="arrow-up-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                        <span *ngIf="tend6[0] == 0" class="iconTendencia"><ion-icon [color]="tend6[1] == 1 ? 'success' : (tend6[1] == -1 ? 'danger' : 'medium')" name="remove-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                        <span *ngIf="tend6[0] == -1" class="iconTendencia"><ion-icon [color]="tend6[1] == 1 ? 'success' : (tend6[1] == -1 ? 'danger' : 'medium')" name="arrow-down-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                    </ion-card-title>
                                    <!-- aqui va el grafico-->
                                    <canvas #lineCanvasBalanceo></canvas>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>
                <!--3-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-card>
                                    <ion-card-subtitle><!--Largo de paso-->{{ 'TEST.10MTS.idx_esp.lar' | translate }}</ion-card-subtitle>
                                    <ion-card-title class="titulo" style="text-align: center !important;">
                                        <small><!--Tendencia-->{{ 'TEST.10MTS.ult_10.tendencia' | translate }} </small>
                                        <span *ngIf="tend5[0] == 1" class="iconTendencia"><ion-icon [color]="tend5[1] == 1 ? 'success' : (tend5[1] == -1 ? 'danger' : 'medium')" name="arrow-up-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                        <span *ngIf="tend5[0] == 0" class="iconTendencia"><ion-icon [color]="tend5[1] == 1 ? 'success' : (tend5[1] == -1 ? 'danger' : 'medium')" name="remove-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                        <span *ngIf="tend5[0] == -1" class="iconTendencia"><ion-icon [color]="tend5[1] == 1 ? 'success' : (tend5[1] == -1 ? 'danger' : 'medium')" name="arrow-down-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                    </ion-card-title>
                                    <!-- aqui va el grafico-->
                                    <canvas #lineCanvasLargoPaso></canvas>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>
            </ion-slides>

            <!-- Evolución índices temporales -->
            <ion-row>
                <ion-col>
                    <ion-list-header>
                        <span class="titulo"><!--Evolución índices temporales-->{{ 'TEST.10MTS.ult_10.evo_tmp' | translate }}</span>
                        <ion-button size="small" shape="round" color="primary" (click)="notifications(14)">
                            <ion-icon name="information-circle-outline"></ion-icon>
                        </ion-button>
                    </ion-list-header>
                </ion-col>
            </ion-row>

            <ion-slides #slider class="slidesPageTree" pager="true" [options]="slideOpts">
                <!--0-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-card>
                                    <ion-card-subtitle><!--Cadencia-->{{ 'TEST.10MTS.idx_tem.cad' | translate }}</ion-card-subtitle>
                                    <ion-card-title class="titulo" style="text-align: center !important;">
                                        <small><!--Tendencia-->{{ 'TEST.10MTS.ult_10.tendencia' | translate }} </small>
                                        <span *ngIf="tend0[0] == 1" class="iconTendencia"><ion-icon [color]="tend0[1] == 1 ? 'success' : (tend0[1] == -1 ? 'danger' : 'medium')" name="arrow-up-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                        <span *ngIf="tend0[0] == 0" class="iconTendencia"><ion-icon [color]="tend0[1] == 1 ? 'success' : (tend0[1] == -1 ? 'danger' : 'medium')" name="remove-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                        <span *ngIf="tend0[0] == -1" class="iconTendencia"><ion-icon [color]="tend0[1] == 1 ? 'success' : (tend0[1] == -1 ? 'danger' : 'medium')" name="arrow-down-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                    </ion-card-title>
                                    <!-- aqui va el grafico-->
                                    <canvas #lineCanvasCadencia width="300px"></canvas>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>

                <!--1-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-card>
                                    <ion-card-subtitle><!--Tiempo de paso-->{{ 'TEST.10MTS.idx_tem.tdp' | translate }}</ion-card-subtitle>
                                    <ion-card-title class="titulo" style="text-align: center !important;">
                                        <small><!--Tendencia-->{{ 'TEST.10MTS.ult_10.tendencia' | translate }} </small>
                                        <span *ngIf="tend1[0] == 1" class="iconTendencia"><ion-icon [color]="tend1[1] == 1 ? 'success' : (tend1[1] == -1 ? 'danger' : 'medium')" name="arrow-up-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                        <span *ngIf="tend1[0] == 0" class="iconTendencia"><ion-icon [color]="tend1[1] == 1 ? 'success' : (tend1[1] == -1 ? 'danger' : 'medium')" name="remove-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                        <span *ngIf="tend1[0] == -1" class="iconTendencia"><ion-icon [color]="tend1[1] == 1 ? 'success' : (tend1[1] == -1 ? 'danger' : 'medium')" name="arrow-down-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                    </ion-card-title>
                                    <!-- aqui va el grafico-->
                                    <canvas #lineCanvasPaso width="300px"></canvas>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>

                <!--2-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-card>
                                    <ion-card-subtitle><!--Tiempo de zancada-->{{ 'TEST.10MTS.idx_tem.tdz' | translate }}</ion-card-subtitle>
                                    <ion-card-title class="titulo" style="text-align: center !important;">
                                        <small><!--Tendencia-->{{ 'TEST.10MTS.ult_10.tendencia' | translate }} </small>
                                        <span *ngIf="tend2[0] == 1" class="iconTendencia"><ion-icon [color]="tend2[1] == 1 ? 'success' : (tend2[1] == -1 ? 'danger' : 'medium')" name="arrow-up-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                        <span *ngIf="tend2[0] == 0" class="iconTendencia"><ion-icon [color]="tend2[1] == 1 ? 'success' : (tend2[1] == -1 ? 'danger' : 'medium')" name="remove-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                        <span *ngIf="tend2[0] == -1" class="iconTendencia"><ion-icon [color]="tend2[1] == 1 ? 'success' : (tend2[1] == -1 ? 'danger' : 'medium')" name="arrow-down-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                    </ion-card-title>
                                    <!-- aqui va el grafico-->
                                    <canvas #lineCanvasZancada width="300px"></canvas>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>

                <!--3-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-card>
                                    <ion-card-subtitle><!--Tiempo de apoyo simple-->{{ 'TEST.10MTS.idx_tem.tss' | translate }}</ion-card-subtitle>
                                    <ion-card-title class="titulo" style="text-align: center !important;">
                                        <small><!--Tendencia-->{{ 'TEST.10MTS.ult_10.tendencia' | translate }} </small>
                                        <span *ngIf="tend3[0] == 1" class="iconTendencia"><ion-icon [color]="tend3[1] == 1 ? 'success' : (tend3[1] == -1 ? 'danger' : 'medium')" name="arrow-up-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                        <span *ngIf="tend3[0] == 0" class="iconTendencia"><ion-icon [color]="tend3[1] == 1 ? 'success' : (tend3[1] == -1 ? 'danger' : 'medium')" name="remove-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                        <span *ngIf="tend3[0] == -1" class="iconTendencia"><ion-icon [color]="tend3[1] == 1 ? 'success' : (tend3[1] == -1 ? 'danger' : 'medium')" name="arrow-down-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                    </ion-card-title>
                                    <!-- aqui va el grafico-->
                                    <canvas #lineCanvasApoyoSimple width="300px"></canvas>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>

                <!--4-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-card>
                                    <ion-card-subtitle><!--Tiempo de apoyo doble-->{{ 'TEST.10MTS.idx_tem.tsd' | translate }}</ion-card-subtitle>
                                    <ion-card-title class="titulo" style="text-align: center !important;">
                                        <small><!--Tendencia-->{{ 'TEST.10MTS.ult_10.tendencia' | translate }} </small>
                                        <span *ngIf="tend4[0] == 1" class="iconTendencia"><ion-icon [color]="tend4[1] == 1 ? 'success' : (tend4[1] == -1 ? 'danger' : 'medium')" name="arrow-up-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                        <span *ngIf="tend4[0] == 0" class="iconTendencia"><ion-icon [color]="tend4[1] == 1 ? 'success' : (tend4[1] == -1 ? 'danger' : 'medium')" name="remove-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                        <span *ngIf="tend4[0] == -1" class="iconTendencia"><ion-icon [color]="tend4[1] == 1 ? 'success' : (tend4[1] == -1 ? 'danger' : 'medium')" name="arrow-down-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                    </ion-card-title>
                                    <!-- aqui va el grafico-->
                                    <canvas #lineCanvasApoyoDoble width="300px"></canvas>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>

            </ion-slides>



        </div>


    </ion-list>
</ion-content>

<app-menu-inferior></app-menu-inferior>