ion-slides {
    margin-top: -20px;
    height: auto;
}

ion-slide {
    padding: 0 30px;
}

.slidesPageTree ion-slide {
    width: 100% !important;
    margin-right: 0% !important;
}

@media (max-width: 320px) {
    .slidesPageTwo ion-slide {
        width: 100% !important;
        margin-right: 0% !important;
    }
}

@media (min-width: 321px) and (max-width: 360px) {
    .slidesPageTwo ion-slide {
        width: 100% !important;
        margin-right: 0% !important;
    }
}

@media (min-width: 361px) and (max-width: 375px) {
    .slidesPageTwo ion-slide {
        width: 100% !important;
        margin-right: 0% !important;
    }
}

@media (min-width: 376px) and (max-width: 414px) {
    .slidesPageTwo ion-slide {
        width: 100% !important;
        margin-right: 0% !important;
    }
}

@media (min-width: 768px) {
    .slidesPageTwo canvas,
    .slidesPageTree canvas {
        width: auto !important;
    }
    .slidesPageTree ion-slide {
        width: 100% !important;
        margin-right: 0% !important;
    }
}

ion-segment {
    background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.065);
    border-radius: 25px !important;
    overflow: hidden;
    z-index: 0;
}

ion-segment-button {
    --border-radius: 25px !important;
    --indicator-color: #ffbf60;
    --border-color: #e0a854;
}

ion-list-header {
    margin-top: -10px !important;
}

.titulo {
    font-family: "Lato-Regular";
    color: #424d99;
    font-size: 20px;
    /*text-align:left;*/
    display: inline-flex;
}

.subtitulo {
    font-family: "Lato-Regular";
    color: #767586;
    font-size: 17px;
    font-weight: 700;
    text-align: left;
}

.resultados {
    font-family: "Lato-Regular";
    color: #767586;
    font-weight: 700;
}

.ubicacionTexto {
    text-align: right;
    padding-right: 20px;
}

.informacion {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 15px;
}

.infoIzq {
    padding-left: 10px;
}

.infoDer {
    padding-left: 5px;
}

.ubicacionBar {
    padding-top: 5px;
    margin-top: 5px;
}

.badge-secondary {
    font-size: 14px;
    color: white;
}

.badge-info {
    font-size: 14px;
    color: white;
    width: 150px;
    text-align: left;
}

.iconTendencia {
    font-size: 30px;
    margin-top: -6px;
    padding-left: 10px;
}

.tarjetaDestacada {
    background-color: lightgrey;
}