<ion-header no-shadow no-border>
  <ion-toolbar > 
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pantalla">
    <ion-grid>
      <ion-row class="logo-row">
        <ion-col>
          <img src="assets/icono - qmuv.svg" />
        </ion-col>
      </ion-row>
      <ion-row class="logo-row">
        <ion-col>
          <span class="titulo">Restablece tu contraseña</span>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item lines="none">
      <ion-label color="medium" position="stacked">Correo electrónico</ion-label>
      <ion-input background-color="light" type="text" placeholder="email@ejemplo.com" [(ngModel)]="email"></ion-input>
    </ion-item>
    <div class="botonazo">
      <ion-button expand="full" shape="round" (click)="olvido(email)">Enviar</ion-button>
    </div>
    
  </div>

</ion-content>
