.titulo {
    font-family: "Lato-Regular";
    color: #424d99;
    font-size: 20px;
}

.correo {
    font-family: "Lato-Regular";
    color: #424d99;
    font-size: 15px;
    font-weight: bold;
    margin-top: 17px;
}

.btn-anchoCompleto {
    width: -webkit-fill-available;
    margin: 16px;
}

.centrarVertical {
    display: flex;
    width: -webkit-fill-available !important;
    max-width: -webkit-fill-available !important;
}

.btn-Password {
    width: -webkit-fill-available;
    padding-right: 12px;
}

.sc-ion-input-ios-h {
    --padding-start: 20px !important;
}