<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button>
                <img src='assets/icon/Icon-menu.svg'>
            </ion-menu-button>
        </ion-buttons>

        <ion-title>
            <app-icono-bt></app-icono-bt>
        </ion-title>

        <ion-col slot="end">
            <img src="assets/logo - qmuv.svg" width="40%" />
        </ion-col>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="mostrar">
    <ion-list-header>
        <span class="titulo"><!--Perfil-->{{ 'PERFIL.titulo' | translate }}</span>
    </ion-list-header>

    <ion-card>
        <ion-row>
            <ion-col size="6">
                <ion-card-header>
                    <ion-card-subtitle>
                        <!--Correo-->{{ 'PERFIL.correo' | translate }}</ion-card-subtitle>
                </ion-card-header>
            </ion-col>
            <ion-col size="6">
                <div class="correo">{{email}}</div>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="6">
                <ion-card-header>
                    <ion-card-subtitle>
                        <!--Contraseña-->{{ 'PERFIL.clave' | translate }}</ion-card-subtitle>
                </ion-card-header>
            </ion-col>
            <ion-col size="6">
                <ion-button shape="round" color="warning btn-Password" (click)="resetPassword()">
                    <!--Cambiar-->{{ 'PERFIL.cambia' | translate }}</ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="6">
                <ion-card-header>
                    <ion-card-subtitle>
                        <!--Nombre-->{{ 'PERFIL.nombre' | translate }}</ion-card-subtitle>
                </ion-card-header>
            </ion-col>
            <ion-col size="6" class="centrarVertical">
                <ion-input type="text" class="form-controll" placeholder="{{ 'PERFIL.nombre_placeholder' | translate }}" [(ngModel)]="nombre"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card-header>
                    <ion-card-subtitle>
                        <!--Nombre-->{{ 'PERFIL.fono' | translate }}</ion-card-subtitle>
                </ion-card-header>
            </ion-col>
            <ion-col size="6" class="centrarVertical">
                <ion-input type="text" class="form-controll" placeholder=" +12 - 3 456789012" [(ngModel)]="fono"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card-header>
                    <ion-card-subtitle>
                        <!--Género-->{{ 'PERFIL.pais' | translate }}</ion-card-subtitle>
                </ion-card-header>
            </ion-col>
            <ion-col size="6">
                <ion-select [(ngModel)]="zoneId" class="form-controll" okText="{{ 'COMUN.aceptar' | translate }}" cancelText="{{ 'COMUN.cancelar' | translate }}">
                    <ion-select-option *ngFor="let pais of listaPaises" [value]="pais.id">{{pais.nombre}}
                    </ion-select-option>
                </ion-select>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card-header>
                    <ion-card-subtitle>
                        <!--Género-->{{ 'PERFIL.region' | translate }}</ion-card-subtitle>
                </ion-card-header>
            </ion-col>
            <ion-col size="6">
                <ion-col size="6" class="centrarVertical">
                    <ion-input type="text" class="form-controll" placeholder="{{ 'PERFIL.region_placeholder' | translate }}" [(ngModel)]="region"></ion-input>
                </ion-col>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card-header>
                    <ion-card-subtitle>
                        <!--Género-->{{ 'PERFIL.direccion' | translate }}</ion-card-subtitle>
                </ion-card-header>
            </ion-col>
            <ion-col size="6">
                <ion-col size="6" class="centrarVertical">
                    <ion-input type="text" class="form-controll" placeholder="{{ 'PERFIL.direccion_placeholder' | translate }}" [(ngModel)]="direccion"></ion-input>
                </ion-col>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card-header>
                    <ion-card-subtitle>
                        <!--Género-->{{ 'PERFIL.genero_tit' | translate }}</ion-card-subtitle>
                </ion-card-header>
            </ion-col>
            <ion-col size="6">
                <ion-select [(ngModel)]="genero" class="form-controll" okText="{{ 'COMUN.aceptar' | translate }}" cancelText="{{ 'COMUN.cancelar' | translate }}">
                    <ion-select-option [value]=0>
                        <!--Masculino-->{{ 'PERFIL.gen.mas' | translate }}</ion-select-option>
                    <ion-select-option [value]=1>
                        <!--Femenino-->{{ 'PERFIL.gen.fem' | translate }}</ion-select-option>
                </ion-select>
            </ion-col>
        </ion-row>

        <ion-row (click)="openDatePicker()">
            <ion-col size="6">
                <ion-card-header>
                    <ion-card-subtitle>
                        <!--Género-->{{ 'PACI_NEW_EDIT.fecha_nac' | translate }}</ion-card-subtitle>
                </ion-card-header>
            </ion-col>
            <ion-col size="6">
                <ion-input [(ngModel)]="fechaNacimiento" class="form-controll" required readonly></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card-header>
                    <ion-card-subtitle>
                        <!--Género-->{{ 'PERFIL.profesion' | translate }}</ion-card-subtitle>
                </ion-card-header>
            </ion-col>
            <ion-col size="6">
                <ion-col size="6" class="centrarVertical">
                    <ion-input type="text" class="form-controll" placeholder="{{ 'PERFIL.profesion_placeholder' | translate }}" [(ngModel)]="profesion"></ion-input>
                </ion-col>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card-header>
                    <ion-card-subtitle>
                        <!--Género-->{{ 'PERFIL.subcrip' | translate }}</ion-card-subtitle>
                </ion-card-header>
            </ion-col>
            <ion-col size="6">
                <ion-col size="6" class="centrarVertical">
                    <ion-input type="text" class="form-controll" [(ngModel)]="tipoSub" disabled="true"> </ion-input>
                </ion-col>
            </ion-col>
        </ion-row>
        <ion-button shape="round" color="warning btn-anchoCompleto" (click)="updateUser()">
            <!--Actualiza mis datos-->{{ 'PERFIL.actualiza' | translate }}</ion-button>

    </ion-card>

    <br/>
    <br/>
</ion-content>
<app-menu-inferior></app-menu-inferior>