ion-slides {
    height: 100%;
}

ion-slide {
    width: 100%;
}

ion-row {
    align-items: center;
    text-align: center;
}

.laminas {
    padding: 20px;
    font-size: 14px;
}

.lamina-texto {
    font-size: 14px;
    color: #767586;
}

.pantalla {
    padding: 5%;
}

.titulo {
    font-family: "Lato-Regular";
    color: #767586;
    font-size: 16px;
}

ion-select {
    position: static;
    max-width: none;
}

.segundos {
    font-size: 16px;
    color: #424d99;
    font-weight: 700;
}

.icoSeg {
    font-size: 25px;
    margin-top: 10px;
    color: #424d99;
}

.check {
    font-size: 40px;
}

.gray {
    font-size: 40px;
}

h5,
.h5 {
    font-family: "Lato", sans-serif;
    color: #767586;
    font-weight: 700;
    margin-top: 8px;
    text-align: center;
}