<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="{{ 'COMUN.volver' | translate }}"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <app-icono-bt></app-icono-bt>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="pantalla">
        <ion-grid>
            <ion-row class="logo-row">
                <ion-col>
                    <img src="assets/logo-qmuv-t10m{{'COMUN.img_sufijo' | translate}}.svg" />
                </ion-col>
            </ion-row>
        </ion-grid>

        <section class="laminas" *ngIf="muestroLanding">
            <ion-slides #slider pager="true" [options]="slideOpts">
                <!--1-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <img src="assets/onboarding/T10M-1.svg">
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <p class="lamina-texto">
                                    <b>{{ 'TEST.10MTS.onboard1a' | translate }}</b> {{ 'TEST.10MTS.onboard1b' | translate }}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                </ion-slide>
                <!--2-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <img src="assets/onboarding/T10M-2{{'COMUN.img_sufijo' | translate}}.svg">
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <p class="lamina-texto">
                                    <b>{{ 'TEST.10MTS.onboard2a' | translate }}</b> {{ 'TEST.10MTS.onboard2b' | translate }} <b>{{ 'TEST.10MTS.onboard2c' | translate }}</b> {{ 'TEST.10MTS.onboard2d' | translate }}
                                    <b> {{ 'TEST.10MTS.onboard2e' | translate }}</b></p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                </ion-slide>
                <!--3-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <img src="assets/onboarding/T10M-3.svg">
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <p class="lamina-texto">
                                    {{ 'TEST.10MTS.onboard3a' | translate }} <b>{{ 'TEST.10MTS.onboard3b' | translate }}</b> {{ 'TEST.10MTS.onboard3c' | translate }} <b>{{ 'TEST.10MTS.onboard3d' | translate }}</b> {{ 'TEST.10MTS.onboard3e' | translate
                                    }}
                                    <b> {{ 'TEST.10MTS.onboard3f' | translate }}</b></p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                </ion-slide>
                <!--4-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <img src="assets/onboarding/T10M-4{{'COMUN.img_sufijo' | translate}}.svg">
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <p class="lamina-texto">
                                    {{ 'TEST.10MTS.onboard4a' | translate }} <b>{{ 'TEST.10MTS.onboard4b' | translate }}</b> {{ 'TEST.10MTS.onboard4c' | translate }}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                </ion-slide>
                <!--5-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <img src="assets/onboarding/T10M-5.svg">
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <p class="lamina-texto">
                                    {{ 'TEST.10MTS.onboard5a' | translate }} <b>{{ 'TEST.10MTS.onboard5b' | translate }}</b> {{ 'TEST.10MTS.onboard5c' | translate }}</p>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-button shape="round" (click)="finLanding()">{{ 'TEST.10MTS.onboard_start' | translate }}</ion-button>
                                <br/><br/><br/>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                </ion-slide>
            </ion-slides>
        </section>

        <section class="laminas" *ngIf="!muestroLanding">
            <ion-grid>
                <ion-row>
                    <ion-col size="12" *ngIf="pruebasRealizadas == 0 && !examenEnEjecucion">
                        <ion-button color="warning" size="small" shape="round" routerDirection="forward" [routerLink]="['/paciente-nuevo']">
                            <ion-icon name="person-add-outline" style="font-size: 14px"></ion-icon> {{ 'TEST.10MTS.nuevo_paciente' | translate }}</ion-button>
                    </ion-col>
                    <ion-col size="12">

                        <ion-item>
                            <div class="selectUsuarioTest" *ngIf="nombrePaciente === '' ;else seleccionaPaciente" (click)="presentModal()">{{'REPO.selecPaciente'| translate}}</div>
                            <ng-template #seleccionaPaciente>
                                <div (click)="presentModal()">{{nombrePaciente}}</div>
                            </ng-template>
                            <!--ion-select [disabled]="pruebasRealizadas>0 || examenEnEjecucion" class="select-full-width" placeholder="{{ 'TEST.10MTS.sel_pac_reg' | translate }}" [(ngModel)]="pacienteSeleccionado" okText="{{ 'COMUN.aceptar' | translate }}" cancelText="{{ 'COMUN.cancelar' | translate }}">
                                                             <ion-select-option [value]="item" *ngFor="let item of pacientes">{{item.nombre}}</ion-select-option>
                            </ion-select--->
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-row style="padding-top: 50px;">
                <ion-col *ngIf="!examenEnEjecucion && pruebasFaltantes.length>0" (click)="comenzar()">
                    <img src="assets/icon/btn-play{{'COMUN.img_sufijo' | translate}}.svg" />
                </ion-col>
                <ion-col *ngIf="examenEnEjecucion" (click)="finalizar()">
                    <img src="assets/icon/btn-stop{{'COMUN.img_sufijo' | translate}}.svg" />
                </ion-col>
                <ion-col *ngIf="!examenEnEjecucion && pruebasFaltantes.length==0" (click)="analizar()">
                    <img src="assets/icon/btn-check{{'COMUN.img_sufijo' | translate}}.svg" />
                </ion-col>
            </ion-row>

            <!--<ion-button (click)="comenzar()">Comenzar</ion-button>
    <ion-button (click)="finalizar()">Finalizar</ion-button>-->

            <!--<p>Giroscopio</p>
    <table>
      <thead>
        <tr>
          <th colspan="2">Velocidad Angular Eje X</th>
          <th colspan="2">Velocidad Angular Eje Y</th>
          <th colspan="2">Velocidad Angular Eje Z</th>
        </tr>
        <tr>
          <th>byte 1</th>
          <th>byte 2</th>
          <th>byte 3</th>
          <th>byte 4</th>
          <th>byte 5</th>
          <th>byte 6</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registro of dataGiroscopio">
          <td>{{registro[0]}}</td>
          <td>{{registro[1]}}</td>
          <td>{{registro[2]}}</td>
          <td>{{registro[3]}}</td>
          <td>{{registro[4]}}</td>
          <td>{{registro[5]}}</td>
        </tr>
      </tbody>
    </table>-->

            <!--contador segundos-->
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <div *ngIf="examenEnEjecucion">
                            <div *ngIf="(segundos && segundos>0); else esperando" class="segundos">
                                <ion-icon class="icoSeg" name="timer-outline"></ion-icon>
                                <br/> {{segundos}} {{ 'TEST.10MTS.segundos' | translate }}
                            </div>

                            <ng-template #esperando>
                                <div class="segundos">
                                    <ion-icon class="icoSeg" name="timer-outline"></ion-icon>
                                    <br/> Cargando...
                                </div>
                            </ng-template>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <br/>

            <!--mediciones por sesión-->
            <section>
                <h5>
                    <!--Mediciones por sesión-->{{ 'TEST.10MTS.med_x_ses' | translate }}</h5>
                <ion-grid>

                    <ion-row>
                        <ion-col *ngFor="let unaPrueba of diezMtrService.sesionActual.muestras">

                            <ion-icon class="check" color="success" name="checkmark-circle-outline"></ion-icon>

                        </ion-col>
                        <ion-col *ngFor="let sinPrueba of pruebasFaltantes">
                            <ion-icon name="ellipse-outline" color="medium" class="gray"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="pruebasFaltantes.length>0 && pruebasRealizadas>0">
                        <ion-col>
                            <ion-button color="danger" size="small" shape="round" (click)="terminar()">
                                <ion-icon name="close-circle-outline"></ion-icon> {{ 'TEST.10MTS.no_mas_med' | translate }}
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </section>

            <section *ngIf="modoDebug">
                <table border="1" width="100%">
                    <tr>
                        <td>RAW</td>
                        <td><small>[{{debugRaw}}]</small></td>
                    </tr>
                    <tr>
                        <td>Cuenta</td>
                        <td>{{debugCount}}</td>
                    </tr>
                </table>

                <br/>

                <table border="1" width="100%">
                    <tr>
                        <td colspan="4">Datos convertidos a int16</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>AX:</td>
                        <td>AY:</td>
                        <td>AZ:</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>{{debugAX}}</td>
                        <td>{{debugAY}}</td>
                        <td>{{debugAZ}}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>GX:</td>
                        <td>GY:</td>
                        <td>GZ:</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>{{debugGX}}</td>
                        <td>{{debugGY}}</td>
                        <td>{{debugGZ}}</td>
                    </tr>
                    <tr>
                        <td>QW:</td>
                        <td>QX:</td>
                        <td>QY:</td>
                        <td>QZ:</td>
                    </tr>
                    <tr>
                        <td>{{debugQW}}</td>
                        <td>{{debugQX}}</td>
                        <td>{{debugQY}}</td>
                        <td>{{debugQZ}}</td>
                    </tr>
                </table>

                <br/>

                <table border="1" width="100%">
                    <tr>
                        <td colspan="4">Datos finales (en la unidad de medida correcta)</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>AX:</td>
                        <td>AY:</td>
                        <td>AZ:</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>{{debugAX_2}}</td>
                        <td>{{debugAY_2}}</td>
                        <td>{{debugAZ_2}}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>GX:</td>
                        <td>GY:</td>
                        <td>GZ:</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>{{debugGX_2}}</td>
                        <td>{{debugGY_2}}</td>
                        <td>{{debugGZ_2}}</td>
                    </tr>
                    <tr>
                        <td>QW:</td>
                        <td>QX:</td>
                        <td>QY:</td>
                        <td>QZ:</td>
                    </tr>
                    <tr>
                        <td>{{debugQW_2}}</td>
                        <td>{{debugQX_2}}</td>
                        <td>{{debugQY_2}}</td>
                        <td>{{debugQZ_2}}</td>
                    </tr>
                </table>
            </section>



            <!--
    <br/>
    <div *ngIf="segundos && segundos>0">{{segundos}} segundos</div>

    <ion-list *ngIf="diezMtrService.pruebas.length > 0">
      <ion-list-header>
        <span class="titulo">Pruebas tomadas</span>
      </ion-list-header>
  
      <ion-card *ngFor="let unaPrueba of diezMtrService.pruebas; let idx = index" class="pacientes" button detail>
      <ion-item-sliding>
        <ion-item-options side="start" *ngIf="modoDebug">
          <ion-item-option (click)="datosCapturados(idx)" color="warning">
            <ion-icon slot="icon-only" name="hardware-chip-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option (click)="datosAnalizados(idx)" color="warning">
            <ion-icon slot="icon-only" name="cog-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option (click)="datosAlgoritmo(idx)" color="warning">
            <ion-icon slot="icon-only" name="cube"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
          <ion-item-option (click)="eliminaPrueba(idx)" color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item style="--inner-border-width: 0px 0px 0px 0px;" *ngIf="this.diezMtrService.pruebas[idx].analisis" routerDirection="forward" [routerLink]="['/diez-mtr-resultados/' + idx]">
            <ion-label>
              <ion-row class="ion-align-items-start">
                <ion-col size="12">
                  <h2 class="nombrePaciente">Prueba {{idx + 1}}</h2>
                  <p>Duración: {{unaPrueba.analisis.t}} segundos</p>
                </ion-col>
              </ion-row>
            </ion-label>
        </ion-item>
        <ion-item style="--inner-border-width: 0px 0px 0px 0px;" *ngIf="!this.diezMtrService.pruebas[idx].analisis">
            <ion-label>
              <ion-row class="ion-align-items-start">
                <ion-col size="12">
                  <h2 class="nombrePaciente">Prueba {{idx + 1}}</h2>
                  <p>Prueba inválida</p>
                </ion-col>
              </ion-row>
            </ion-label>
  
        </ion-item>
      </ion-item-sliding>
    </ion-card>
    
    </ion-list>
  -->

            <ion-textarea readonly [value]="textoDEBUG" autoGrow=true></ion-textarea>


        </section>
    </div>
</ion-content>
<app-menu-inferior *ngIf="!muestroLanding && pruebasRealizadas == 0 && !examenEnEjecucion"></app-menu-inferior>