ion-slides {
    height: 50%;
}

ion-slide {
    width: 100% !important;
    margin-right: 0% !important;
}

@media (min-width: 768px) {
    ion-slide {
        width: 100% !important;
        margin-right: 0% !important;
    }
}

.slideMedicion ion-slide {
    width: 100% !important;
    margin-right: 0% !important;
}

ion-segment {
    background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.065);
    border-radius: 25px !important;
    overflow: hidden;
    z-index: 0;
}

ion-segment-button {
    --border-radius: 25px !important;
    --indicator-color: #ffbf60;
    --border-color: #e0a854;
}

ion-list-header {
    margin-top: -10px !important;
}

.titulo {
    font-family: "Lato-Regular";
    color: #424d99;
    font-size: 20px;
    display: inline-flex;
}

.subtitulo {
    font-family: "Lato-Regular";
    color: #767586;
    font-size: 17px;
    font-weight: 700;
}

.resultados {
    font-family: "Lato-Regular";
    color: #767586;
    font-weight: 700;
}

.unidadMedida {
    font-family: "Lato-Regular";
    color: #424d99;
    font-weight: 700;
}

.ubicacionTexto {
    text-align: right;
    padding-right: 20px;
}

.informacion {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 15px;
}

.badge-secondary {
    font-size: 14px;
    color: white;
}

.badge-info {
    font-size: 14px;
    color: white;
    width: 140px;
    text-align: left;
}

.rotate-270 {
    display: inline-block;
    transform: rotateY(180deg);
}

.tarjetaDestacada {
    background-color: lightgrey;
}

.pullRight {
    text-align: right;
}

.cardUbicacion {
    margin-inline-start: 5px;
    margin-inline-end: 5px;
}

.iconTendencia {
    font-size: 30px;
    margin-top: -6px;
    padding-left: 10px;
}