<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="{{ 'COMUN.volver' | translate }}"></ion-back-button>
        </ion-buttons>
        <ion-col slot="end">
            <img src="assets/logo - qmuv.svg" width="40%" />
        </ion-col>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-row>
            <ion-col>
                <ion-list-header>
                    <section class="laminas" *ngIf="analisis">
                        <span class="titulo"><!--Historial de-->{{ 'HIST.tit' | translate }} {{paciente?.nombre}}</span>
                    </section>
                </ion-list-header>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-segment [(ngModel)]="seleccion" (ionChange)="segmentChanged($event)">
                    <ion-segment-button value=1>
                        <ion-label>
                            <!--Última sesión-->{{ 'HIST.ses_ult' | translate }}</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value=2>
                        <ion-label>
                            <!--Últimas 10 sesiones-->{{ 'HIST.ses_10' | translate }}</ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-col>
        </ion-row>

        <!-- S E L E C C I O N 1 -->
        <div *ngIf="seleccion==1">

            <!--======= aqui va el grafico ======= -->
            <ion-slides #slider pager="true" class="slideMedicion" [options]="slideOpts1">
                <!--1 -->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-card [ngClass]="{'tarjetaDestacada': !destacado1}">
                                    <ion-col size="12">
                                        <span class="subtitulo"> <!--Medición-->{{ 'TEST.UPGO.medi' | translate }} 1 <small *ngIf="destacado1">{{glosaResaltado}}</small></span>
                                    </ion-col>
                                    <canvas #lineCanvas1></canvas>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>
                <!--2-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-card [ngClass]="{'tarjetaDestacada': !destacado2}">
                                    <ion-col size="12">
                                        <span class="subtitulo"> <!--Medición-->{{ 'TEST.UPGO.medi' | translate }} 2 <small *ngIf="destacado2"></small></span>
                                    </ion-col>
                                    <canvas #lineCanvas2></canvas>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>
                <!--3-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-card [ngClass]="{'tarjetaDestacada': !destacado3}">
                                    <ion-col size="12">
                                        <span class="subtitulo"> <!--Medición-->{{ 'TEST.UPGO.medi' | translate }} 3 <small *ngIf="destacado3"></small></span>
                                    </ion-col>
                                    <canvas #lineCanvas3></canvas>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>
            </ion-slides>

            <!-- Duración prueba -->
            <section>
                <ion-card>
                    <ion-grid style="padding-left: 15px;">
                        <ion-row>
                            <ion-col size="12">
                                <span class="subtitulo"> <!--Duración prueba-->{{ 'TEST.UPGO.dura_prueba' | translate }} {{analisis?.t | number:'1.2-2'}}s</span>
                            </ion-col>

                            <ion-col size="9">
                                <ion-list-header style="margin-top: -30px !important; margin-left: -20px; width: auto;">
                                    <div *ngIf="analisis">
                                        <ion-badge *ngIf="analisis.t <= 10" color="success" style="color:white;">
                                            <!--Riesgo de caída normal-->{{ 'TEST.UPGO.rof.normal' | translate }}</ion-badge>
                                        <ion-badge *ngIf="analisis.t > 10 && analisis.t <= 20" color="warning">
                                            <!--Riesgo de caída leve-->{{ 'TEST.UPGO.rof.leve' | translate }}</ion-badge>
                                        <!-- leve -->
                                        <ion-badge *ngIf="analisis.t > 20" color="danger">
                                            <!--Riesgo de caída alto-->{{ 'TEST.UPGO.rof.alto' | translate }}</ion-badge>
                                        <!-- alto -->
                                    </div>
                                    <ion-button size="small" shape="round" color="primary" (click)="notifications(7)" style="margin-left: -20px;">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                    </ion-button>
                                </ion-list-header>

                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </section>

            <!-- Duración por etapas -->
            <section class="laminas" *ngIf="analisis">
                <ion-row>
                    <ion-col>
                        <ion-list-header>
                            <span class="titulo"><!--Duración por etapas-->{{ 'TEST.UPGO.dura_etapas' | translate }}</span>
                            <ion-button size="small" shape="round" color="primary" (click)="notifications(4)">
                                <ion-icon name="information-circle-outline"></ion-icon>
                            </ion-button>
                        </ion-list-header>
                    </ion-col>
                </ion-row>

                <ion-card>
                    <ion-row style="padding-left: 15px;">
                        <ion-col size="8">
                            <ion-badge class="badge-secondary badge-info" color="secondary">
                                <ion-icon name="man-sharp"></ion-icon>
                                <!--E.1: Levantarse-->{{ 'TEST.UPGO.etapas.e1' | translate }} </ion-badge>
                        </ion-col>
                        <ion-col size="3" class="pullRight">
                            <span class="resultados">{{analisis.t1 | number:'1.2-2'}}</span>
                        </ion-col>
                        <ion-col size="1">
                            <span class="unidadMedida">s</span>
                        </ion-col>
                        <div class="item-inner-highlight"></div>
                    </ion-row>

                    <ion-row style="padding-left: 15px;">
                        <ion-col size="8">
                            <ion-badge class="badge-secondary badge-info" color="tertiary">
                                <ion-icon name="walk-sharp"></ion-icon>
                                <!--E.2: Ida-->{{ 'TEST.UPGO.etapas.e2' | translate }} </ion-badge>
                        </ion-col>
                        <ion-col size="3" class="pullRight">
                            <span class="resultados">{{analisis.t2 | number:'1.2-2'}}</span>
                        </ion-col>
                        <ion-col size="1">
                            <span class="unidadMedida">s</span>
                        </ion-col>
                        <div class="item-inner-highlight"></div>
                    </ion-row>

                    <ion-row style="padding-left: 15px;">
                        <ion-col size="8">
                            <ion-badge class="badge-secondary badge-info" color="secondary">
                                <ion-icon name="sync-sharp"></ion-icon>
                                <!--E.3: Giro 3m-->{{ 'TEST.UPGO.etapas.e3' | translate }} </ion-badge>
                        </ion-col>
                        <ion-col size="3" class="pullRight">
                            <span class="resultados">{{analisis.t3 | number:'1.2-2'}}</span>
                        </ion-col>
                        <ion-col size="1">
                            <span class="unidadMedida">s</span>
                        </ion-col>
                        <div class="item-inner-highlight"></div>
                    </ion-row>

                    <ion-row style="padding-left: 15px;">
                        <ion-col size="8">
                            <ion-badge class="badge-secondary badge-info" color="tertiary">
                                <ion-icon name="walk-sharp" class="rotate-270"></ion-icon>
                                <!--E.4: Vuelta-->{{ 'TEST.UPGO.etapas.e4' | translate }} </ion-badge>
                        </ion-col>
                        <ion-col size="3" class="pullRight">
                            <span class="resultados">{{analisis.t4 | number:'1.2-2'}}</span>
                        </ion-col>
                        <ion-col size="1">
                            <span class="unidadMedida">s</span>
                        </ion-col>
                        <div class="item-inner-highlight"></div>
                    </ion-row>

                    <ion-row style="padding-left: 15px;">
                        <ion-col size="8">
                            <ion-badge class="badge-secondary badge-info" color="secondary"><img src="assets/icon/Icon-chair.svg" width="10%">
                                <!--E.5: Giro silla-->{{ 'TEST.UPGO.etapas.e5' | translate }} </ion-badge>
                        </ion-col>
                        <ion-col size="3" class="pullRight">
                            <span class="resultados">{{analisis.t5 | number:'1.2-2'}}</span>
                        </ion-col>
                        <ion-col size="1">
                            <span class="unidadMedida">s</span>
                        </ion-col>
                        <div class="item-inner-highlight"></div>
                    </ion-row>

                    <ion-row style="padding-left: 15px;">
                        <ion-col size="8">
                            <ion-badge class="badge-secondary badge-info" color="tertiary"><img src="assets/icon/Icon-sit.svg" width="7%">
                                <!--E.6: Sentarse-->{{ 'TEST.UPGO.etapas.e6' | translate }} </ion-badge>
                        </ion-col>
                        <ion-col size="3" class="pullRight">
                            <span class="resultados">{{analisis.t6 | number:'1.2-2'}}</span>
                        </ion-col>
                        <ion-col size="1">
                            <span class="unidadMedida">s</span>
                        </ion-col>
                        <div class="item-inner-highlight"></div>
                    </ion-row>
                </ion-card>
            </section>

            <!-- Índices de movilidad -->
            <section *ngIf="analisis">
                <ion-row>
                    <ion-col>
                        <ion-list-header>
                            <span class="titulo"><!--Índices de movilidad-->{{ 'TEST.UPGO.inx_movi_titulo' | translate }}</span>
                            <ion-button size="small" shape="round" color="primary" (click)="notifications(5)">
                                <ion-icon name="information-circle-outline"></ion-icon>
                            </ion-button>
                        </ion-list-header>
                    </ion-col>
                </ion-row>
                <ion-card>
                    <ion-grid style="padding-left: 15px;">

                        <ion-row>
                            <ion-col size="7">
                                <!--Inclinación pararse-->{{ 'TEST.UPGO.idx_movi.inc_par' | translate }}</ion-col>
                            <ion-col size="3" class="pullRight"><span class="resultados">{{analisis.maxStandInclination | number:'1.2-2'}}</span></ion-col>
                            <ion-col size="2"><span class="unidadMedida">º</span></ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="7">
                                <!--Inclinación sentarse-->{{ 'TEST.UPGO.idx_movi.inc_sen' | translate }}</ion-col>
                            <ion-col size="3" class="pullRight"><span class="resultados">{{analisis.maxSitInclination | number:'1.2-2'}}</span></ion-col>
                            <ion-col size="2"><span class="unidadMedida">º</span></ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="7">
                                <!--Aceleración al levantarse-->{{ 'TEST.UPGO.idx_movi.ace_lev' | translate }}</ion-col>
                            <ion-col size="3" class="pullRight"><span class="resultados">{{analisis.aceleracionAlLevantarse | number:'1.2-2'}}</span></ion-col>
                            <ion-col size="2"><span class="unidadMedida">G</span></ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="7">
                                <!--Aceleración al sentarse-->{{ 'TEST.UPGO.idx_movi.ace_sen' | translate }}</ion-col>
                            <ion-col size="3" class="pullRight"><span class="resultados">{{analisis.aceleracionAlSentarse | number:'1.2-2'}}</span></ion-col>
                            <ion-col size="2"><span class="unidadMedida">G</span></ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="7">
                                <!--Velocidad angular giro 3m-->{{ 'TEST.UPGO.idx_movi.vel_3m' | translate }}</ion-col>
                            <ion-col size="3" class="pullRight"><span class="resultados">{{analisis.velocidadAngularGiro3m | number:'1.2-2'}}</span></ion-col>
                            <ion-col size="2"><span class="unidadMedida">º/s</span></ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="7">
                                <!--Velocidad angular giro silla-->{{ 'TEST.UPGO.idx_movi.vel_sil' | translate }}</ion-col>
                            <ion-col size="3" class="pullRight"><span class="resultados">{{analisis.velocidadAngularGiroSilla | number:'1.2-2'}}</span></ion-col>
                            <ion-col size="2"><span class="unidadMedida">º/s</span></ion-col>
                        </ion-row>
                        <!--
            <ion-row>
              <ion-col size="7">Cadencia ida</ion-col>
              <ion-col size="3" class="pullRight"><span class="resultados">{{analisis.cadenciaIda | number:'1.2-2'}}</span></ion-col>
              <ion-col size="2"><span class="unidadMedida">ppm</span></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="7">Cadencia vuelta</ion-col>
              <ion-col size="3" class="pullRight"><span class="resultados">{{analisis.cadenciaVuelta | number:'1.2-2'}}</span></ion-col>
              <ion-col size="2"><span class="unidadMedida">ppm</span></ion-col>
            </ion-row>
            -->
                    </ion-grid>
                </ion-card>
            </section>

            <!-- Recomendaciones -->
            <section *ngIf="analisis">
                <ion-row>
                    <ion-col>
                        <ion-list-header>
                            <span class="titulo"><!--Recomendaciones-->{{ 'TEST.UPGO.reco_tit' | translate }}</span>
                            <ion-button size="small" shape="round" color="primary" (click)="notifications(6)">
                                <ion-icon name="information-circle-outline"></ion-icon>
                            </ion-button>
                        </ion-list-header>
                    </ion-col>
                </ion-row>
                <ion-card>
                    <div>
                        <ul>
                            <li *ngIf="analisis.rofStand>0">
                                <!--Reforzar Transferencia Sedente a Bípeda.-->{{ 'TEST.UPGO.reco.rtsb' | translate }}</li>
                            <li *ngIf="analisis.rofGo>0 || analisis.rofReturn>0">
                                <!--Reforzar Marcha.-->{{ 'TEST.UPGO.reco.rm' | translate }}</li>
                            <li *ngIf="analisis.rofTurn1>0">
                                <!--Reforzar Marcha con Giro.-->{{ 'TEST.UPGO.reco.rmcg' | translate }}</li>
                            <li *ngIf="analisis.rofTurn2>0">
                                <!--Reforzar Giro Pre-Transferencia Bípeda a Sedente.-->{{ 'TEST.UPGO.reco.rgpt' | translate }}</li>
                            <li *ngIf="analisis.rofSit>0">
                                <!--Reforzar Transferencia Bípeda a Sedente.-->{{ 'TEST.UPGO.reco.rtbs' | translate }}</li>
                            <li *ngIf="analisis.rofStand + analisis.rofGo + analisis.rofReturn + analisis.rofTurn1 + analisis.rofTurn2 + analisis.rofSit == 0">
                                <!--Sin recomendaciones-->{{ 'TEST.UPGO.reco.sr' | translate }}</li>
                        </ul>
                    </div>
                </ion-card>
            </section>
        </div>

        <!-- S E L E C C I O N 2 -->
        <div *ngIf="seleccion==2">
            <!-- Riesgo de caidas -->
            <ion-card>
                <ion-grid style="padding-left: 15px;">
                    <ion-row>
                        <ion-col size="12">
                            <span class="subtitulo"><!--Riesgo de caídas-->{{ 'TEST.UPGO.rof_tit' | translate }}</span>
                        </ion-col>

                        <ion-col size="9">
                            <ion-list-header style="margin-top: -30px !important; margin-left: -20px; width: auto;">
                                <div *ngIf="analisis">
                                    <ion-badge *ngIf="analisis.t <= 10" color="success" style="color:white;">
                                        <!--Riesgo de caída normal-->{{ 'TEST.UPGO.rof.normal' | translate }}</ion-badge>
                                    <ion-badge *ngIf="analisis.t > 10 && analisis.t <= 20" color="warning">
                                        <!--Riesgo de caída leve-->{{ 'TEST.UPGO.rof.leve' | translate }}</ion-badge>
                                    <!-- leve -->
                                    <ion-badge *ngIf="analisis.t > 20" color="danger">
                                        <!--Riesgo de caída alto-->{{ 'TEST.UPGO.rof.alto' | translate }}</ion-badge>
                                    <!-- alto -->
                                </div>

                                <ion-button size="small" shape="round" color="primary" (click)="notifications(7)">
                                    <ion-icon name="information-circle-outline"></ion-icon>
                                </ion-button>
                            </ion-list-header>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card>

            <!-- Duración de las pruebas -->
            <ion-row>
                <ion-col>
                    <ion-list-header class="prueba">
                        <span class="titulo"><!--Duración de las pruebas-->{{ 'TEST.UPGO.ult_10.dur_pruebas' | translate }}</span>
                        <ion-button size="small" shape="round" color="primary" (click)="notifications(20)">
                            <ion-icon name="information-circle-outline"></ion-icon>
                        </ion-button>
                    </ion-list-header>
                </ion-col>
            </ion-row>

            <!-- aqui va el grafico-->
            <ion-card>
                <canvas #barCanvasRiesgoCaida></canvas>
                <ion-card-subtitle style="padding-left: 10px; color: #424D99;">
                    <!--Menor duración-->{{ 'TEST.UPGO.ult_10.menor_dur' | translate }}: {{menorDuracion | number:'1.2-2'}}</ion-card-subtitle>
            </ion-card>

            <!-- Evolución por etapa -->
            <ion-row>
                <ion-col>
                    <ion-list-header>
                        <span class="titulo"><!--Evolución por etapa-->{{ 'TEST.UPGO.ult_10.evol_etapa' | translate }}</span>
                        <ion-button size="small" shape="round" color="primary" (click)="notifications(21)">
                            <ion-icon name="information-circle-outline"></ion-icon>
                        </ion-button>
                    </ion-list-header>
                </ion-col>
            </ion-row>

            <!-- aqui va el grafico-->
            <ion-card>
                <canvas #pointCanvasEvolEtapa></canvas>
            </ion-card>

            <!-- EVOLUCIÓN INDICES DE MOVILIDAD -->
            <ion-row>
                <ion-col>
                    <ion-list-header>
                        <span class="titulo"><!--Evolución índices de movilidad-->{{ 'TEST.UPGO.ult_10.evol_idx_movi' | translate }}</span>
                        <ion-button size="small" shape="round" color="primary" (click)="notifications(22)">
                            <ion-icon name="information-circle-outline"></ion-icon>
                        </ion-button>
                    </ion-list-header>
                </ion-col>
            </ion-row>

            <!-- aqui va el grafico -->
            <ion-slides #slider pager="true" [options]="slideOpts">

                <!--7-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-card>
                                    <ion-card-subtitle>
                                        <!--Inclinación al pararse-->{{ 'TEST.UPGO.idx_movi.inc_par' | translate }} - º
                                    </ion-card-subtitle>
                                    <ion-card-title class="titulo">
                                        <small><!--Tendencia-->{{ 'TEST.UPGO.ult_10.tendencia' | translate }}</small>
                                        <span *ngIf="tend7[0] == 1" class="iconTendencia"><ion-icon [color]="tend7[1] == 1 ? 'success' : (tend7[1] == -1 ? 'danger' : 'medium')" name="arrow-up-circle-outline"></ion-icon></span>
                                        <span *ngIf="tend7[0] == 0" class="iconTendencia"><ion-icon [color]="tend7[1] == 1 ? 'success' : (tend7[1] == -1 ? 'danger' : 'medium')" name="remove-circle-outline"></ion-icon></span>
                                        <span *ngIf="tend7[0] == -1" class="iconTendencia"><ion-icon [color]="tend7[1] == 1 ? 'success' : (tend7[1] == -1 ? 'danger' : 'medium')" name="arrow-down-circle-outline"></ion-icon></span>
                                    </ion-card-title>
                                    <!-- aqui va el grafico-->
                                    <canvas #lineCanvasIndice7></canvas>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>

                <!--8-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-card>
                                    <ion-card-subtitle>
                                        <!--Inclinación al sentarse-->{{ 'TEST.UPGO.idx_movi.inc_sen' | translate }} - º</ion-card-subtitle>
                                    <ion-card-title class="titulo">
                                        <small><!--Tendencia-->{{ 'TEST.UPGO.ult_10.tendencia' | translate }} </small>
                                        <span *ngIf="tend8[0] == 1" class="iconTendencia"><ion-icon [color]="tend8[1] == 1 ? 'success' : (tend8[1] == -1 ? 'danger' : 'medium')" name="arrow-up-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                        <span *ngIf="tend8[0] == 0" class="iconTendencia"><ion-icon [color]="tend8[1] == 1 ? 'success' : (tend8[1] == -1 ? 'danger' : 'medium')" name="remove-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                        <span *ngIf="tend8[0] == -1" class="iconTendencia"><ion-icon [color]="tend8[1] == 1 ? 'success' : (tend8[1] == -1 ? 'danger' : 'medium')" name="arrow-down-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                    </ion-card-title>
                                    <!-- aqui va el grafico-->
                                    <canvas #lineCanvasIndice8></canvas>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>

                <!--1-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-card>
                                    <ion-card-subtitle>
                                        <!--Aceleración al levantarse-->{{ 'TEST.UPGO.idx_movi.ace_lev' | translate }} - G
                                    </ion-card-subtitle>
                                    <ion-card-title class="titulo">
                                        <small><!--Tendencia-->{{ 'TEST.UPGO.ult_10.tendencia' | translate }}</small>
                                        <span *ngIf="tend1[0] == 1" class="iconTendencia"><ion-icon [color]="tend1[1] == 1 ? 'success' : (tend1[1] == -1 ? 'danger' : 'medium')" name="arrow-up-circle-outline"></ion-icon></span>
                                        <span *ngIf="tend1[0] == 0" class="iconTendencia"><ion-icon [color]="tend1[1] == 1 ? 'success' : (tend1[1] == -1 ? 'danger' : 'medium')" name="remove-circle-outline"></ion-icon></span>
                                        <span *ngIf="tend1[0] == -1" class="iconTendencia"><ion-icon [color]="tend1[1] == 1 ? 'success' : (tend1[1] == -1 ? 'danger' : 'medium')" name="arrow-down-circle-outline"></ion-icon></span>
                                    </ion-card-title>
                                    <!-- aqui va el grafico-->
                                    <canvas #lineCanvasIndice1></canvas>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>

                <!--2-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-card>
                                    <ion-card-subtitle>
                                        <!--Aceleración al sentarse-->{{ 'TEST.UPGO.idx_movi.ace_sen' | translate }} - G</ion-card-subtitle>
                                    <ion-card-title class="titulo">
                                        <small><!--Tendencia-->{{ 'TEST.UPGO.ult_10.tendencia' | translate }} </small>
                                        <span *ngIf="tend2[0] == 1" class="iconTendencia"><ion-icon [color]="tend2[1] == 1 ? 'success' : (tend2[1] == -1 ? 'danger' : 'medium')" name="arrow-up-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                        <span *ngIf="tend2[0] == 0" class="iconTendencia"><ion-icon [color]="tend2[1] == 1 ? 'success' : (tend2[1] == -1 ? 'danger' : 'medium')" name="remove-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                        <span *ngIf="tend2[0] == -1" class="iconTendencia"><ion-icon [color]="tend2[1] == 1 ? 'success' : (tend2[1] == -1 ? 'danger' : 'medium')" name="arrow-down-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                    </ion-card-title>
                                    <!-- aqui va el grafico-->
                                    <canvas #lineCanvasIndice2></canvas>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>

                <!--3-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-card>
                                    <ion-card-subtitle>
                                        <!--Velocidad angular giro 3m-->{{ 'TEST.UPGO.idx_movi.vel_3m' | translate }} - º/s</ion-card-subtitle>
                                    <ion-card-title class="titulo">
                                        <small><!--Tendencia-->{{ 'TEST.UPGO.ult_10.tendencia' | translate }} </small>
                                        <span *ngIf="tend3[0] == 1" class="iconTendencia"><ion-icon [color]="tend3[1] == 1 ? 'success' : (tend3[1] == -1 ? 'danger' : 'medium')" name="arrow-up-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                        <span *ngIf="tend3[0] == 0" class="iconTendencia"><ion-icon [color]="tend3[1] == 1 ? 'success' : (tend3[1] == -1 ? 'danger' : 'medium')" name="remove-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                        <span *ngIf="tend3[0] == -1" class="iconTendencia"><ion-icon [color]="tend3[1] == 1 ? 'success' : (tend3[1] == -1 ? 'danger' : 'medium')" name="arrow-down-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                    </ion-card-title>
                                    <!-- aqui va el grafico-->
                                    <canvas #lineCanvasIndice3></canvas>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>

                <!--4-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-card>
                                    <ion-card-subtitle>
                                        <!--Velocidad angular giro silla-->{{ 'TEST.UPGO.idx_movi.vel_sil' | translate }} - º/s</ion-card-subtitle>
                                    <ion-card-title class="titulo">
                                        <small><!--Tendencia-->{{ 'TEST.UPGO.ult_10.tendencia' | translate }} </small>
                                        <span *ngIf="tend4[0] == 1" class="iconTendencia"><ion-icon [color]="tend4[1] == 1 ? 'success' : (tend4[1] == -1 ? 'danger' : 'medium')" name="arrow-up-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                        <span *ngIf="tend4[0] == 0" class="iconTendencia"><ion-icon [color]="tend4[1] == 1 ? 'success' : (tend4[1] == -1 ? 'danger' : 'medium')" name="remove-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                        <span *ngIf="tend4[0] == -1" class="iconTendencia"><ion-icon [color]="tend4[1] == 1 ? 'success' : (tend4[1] == -1 ? 'danger' : 'medium')" name="arrow-down-circle-outline"></ion-icon></span>
                                        <!-- {{tend1[0]}} - {{tend1[1]}} -->
                                    </ion-card-title>
                                    <!-- aqui va el grafico-->
                                    <canvas #lineCanvasIndice4></canvas>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>

                <!--5--
      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-subtitle>Cadencia ida</ion-card-subtitle>
                <ion-card-title  class="titulo">Tendencia 
                    <span *ngIf="tend5[0] == 1"><ion-icon [color]="tend5[1] == 1 ? 'success' : (tend5[1] == -1 ? 'danger' : 'medium')" name="arrow-up-circle-outline"></ion-icon></span>
                    <span *ngIf="tend5[0] == 0"><ion-icon [color]="tend5[1] == 1 ? 'success' : (tend5[1] == -1 ? 'danger' : 'medium')" name="remove-circle-outline"></ion-icon></span>
                    <span *ngIf="tend5[0] == -1"><ion-icon [color]="tend5[1] == 1 ? 'success' : (tend5[1] == -1 ? 'danger' : 'medium')" name="arrow-down-circle-outline"></ion-icon></span>
                </ion-card-title>
                <canvas #lineCanvasIndice5></canvas>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    -->

                <!--6--
      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-subtitle>Cadencia vuelta</ion-card-subtitle>
                <ion-card-title  class="titulo">Tendencia 
                    <span *ngIf="tend6[0] == 1"><ion-icon [color]="tend6[1] == 1 ? 'success' : (tend6[1] == -1 ? 'danger' : 'medium')" name="arrow-up-circle-outline"></ion-icon></span>
                    <span *ngIf="tend6[0] == 0"><ion-icon [color]="tend6[1] == 1 ? 'success' : (tend6[1] == -1 ? 'danger' : 'medium')" name="remove-circle-outline"></ion-icon></span>
                    <span *ngIf="tend6[0] == -1"><ion-icon [color]="tend6[1] == 1 ? 'success' : (tend6[1] == -1 ? 'danger' : 'medium')" name="arrow-down-circle-outline"></ion-icon></span>
                </ion-card-title>
                <canvas #lineCanvasIndice6></canvas>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    -->

            </ion-slides>

        </div>


    </ion-list>
</ion-content>

<app-menu-inferior></app-menu-inferior>