<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button>
                <img src='assets/icon/Icon-menu.svg'>
            </ion-menu-button>
        </ion-buttons>

        <ion-title>
            <app-icono-bt></app-icono-bt>
        </ion-title>

        <ion-col slot="end">
            <img src="assets/logo - qmuv.svg" width="40%" />
        </ion-col>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <span class="welcome"><!--Bienvenido/a-->{{ 'HOME.hola' | translate }}</span>
    <br/>
    <p class="nombre"><b>{{userNombre}} &nbsp;</b></p>
    <div *ngIf="cargaBateria>=0">
        <span *ngIf="cargaBateria>80" class="batSuccess">
           <img src="assets/bateria/ico-battery-full.svg" width="20px" />  &nbsp; {{cargaBateria}}%
        </span>
        <span *ngIf="cargaBateria<=80 && cargaBateria>60" class="batSuccess">
          <img src="assets/bateria/ico-battery-three-quarters.svg" width="20px" /> &nbsp; {{cargaBateria}}%
        </span>
        <span *ngIf="cargaBateria<=60 && cargaBateria>40" class="batAlert">
          <img src="assets/bateria/ico-battery-half.svg" width="20px" />  &nbsp; {{cargaBateria}}%
        </span>
        <span *ngIf="cargaBateria<=40 && cargaBateria>20" class="batAlert">
            <img  src="assets/bateria/ico-battery-quarter.svg" width="20px" /> &nbsp; {{cargaBateria}}%
        </span>
        <span *ngIf="cargaBateria<20" class="batDanger">
            <img  src="assets/bateria/ico-battery-empty.svg" width="20px" />  &nbsp; {{cargaBateria}}%
        </span>
    </div>
    <!--Carga del dispositivo{{ 'HOME.carga' | translate }} :-->

    <!--span *ngIf="cargaBateria<0" class="batDanger">
    <ion-icon name="battery-dead-sharp" class="icoSize"></ion-icon> {{ 'HOME.carga_desconocida' | translate }}
  </span-->
    <!--
  <p class="ion-text-center">Elije la prueba que necesitas</p>
-->
    <div *ngIf="codigoPlan === ''">
        <!--Debes contratar un plan o ser agregado a un plan institucional para poder realizar pruebas-->
        {{ 'HOME.sin_plan' | translate }}
    </div>

    <ion-card *ngIf="testTUGO">
        <img class="graphics8" src="assets/tests/Timed-up-and-go{{'COMUN.img_sufijo' | translate}}.svg" />
        <ion-card-header>
            <ion-row class="ion-align-items-start">
                <ion-col size="9">
                    <ion-card-title class="titulo"><b><!--Análisis de riesgo de caídas-->{{ 'HOME.rof' | translate }}</b></ion-card-title>
                    <span><!--"Timed Up & Go"-->{{ 'HOME.rof_2' | translate }}</span>
                </ion-col>
                <ion-col size="3" class="ion-align-self-end" *ngIf="codigoPlan!=''" [routerLink]="['/upgo']">
                    <img src="assets/icon/button-next.svg" />
                </ion-col>
            </ion-row>
            <!--<ion-row class="ion-align-items-start">
        <ion-col size="9">
          <span class="subtitulo">Última prueba realizada: 13/07/2020</span>
        </ion-col>
        <ion-col size="3" class="ion-align-self-end">
          <ion-button [routerLink]="['/upgo']" color="primary">
            <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>-->
        </ion-card-header>
    </ion-card>

    <ion-card *ngIf="test10MT">
        <img class="graphics8" src="assets/tests/Test-10-metros{{'COMUN.img_sufijo' | translate}}.svg" />
        <ion-card-header>
            <ion-row class="ion-align-items-start">
                <ion-col size="9">
                    <ion-card-title class="titulo"><b><!--Análisis de marcha-->{{ 'HOME.10mts' | translate }}</b></ion-card-title>
                    <span><!--"Test de 10 metros"-->{{ 'HOME.10mts_2' | translate }}</span>
                </ion-col>
                <ion-col size="3" class="ion-align-self-end" *ngIf="codigoPlan!=''" [routerLink]="['/diez-mtr']">
                    <img src="assets/icon/button-next.svg" />
                </ion-col>
            </ion-row>
            <!--<ion-row class="ion-align-items-start">
        <ion-col size="9">
          <span class="subtitulo">Última prueba realizada: 13/07/2020</span>
        </ion-col>
        <ion-col size="3" class="ion-align-self-end">
          <ion-button [routerLink]="['/diez-mtr']" color="secondary">
            <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>-->
        </ion-card-header>
    </ion-card>

    <ion-card *ngIf="testSUTE">
        <img class="graphics8" src="assets/tests/Test-10-metros{{'COMUN.img_sufijo' | translate}}.svg" />
        <ion-card-header>
            <ion-card-title class="titulo">SUPER TEST</ion-card-title>
            <br/>
            <ion-row class="ion-align-items-start">
                <ion-col size="9">
                    <span class="subtitulo">Última prueba realizada: 13/07/2020</span>
                </ion-col>
                <ion-col size="3" class="ion-align-self-end">
                    <ion-button color="primary">
                        <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-card-header>
    </ion-card>
    <!--
  <p class="ion-text-center">More coming</p>
  -->

    <!--
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Welcome to Home!
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Your Registered EmailID : {{userEmail}}
      </ion-col>
    </ion-row>
  </ion-grid>
-->

    <ion-card>
        <img class="graphics8" src="assets/proximamente{{'COMUN.img_sufijo' | translate}}.svg" />
        <!--<ion-card-header>
          <ion-row class="ion-align-items-start">
              <ion-col size="9">
                <ion-card-title class="titulo"><b>Test de 10 metros</b></ion-card-title>
              </ion-col>
          </ion-row>
      </ion-card-header>-->
    </ion-card>

</ion-content>

<app-menu-inferior pagina="uno"></app-menu-inferior>