.graphics8 {
    background-color: #E9EAFF;
    width: 100%;
}

.welcome {
    font-size: 16px;
    color: #767586;
}

.nombre {
    font-size: 20px;
    color: #767586;
}

.titulo {
    font-size: 20px;
    color: #767586;
    padding-top: 10px;
}

.subtitulo {
    font-size: 12px;
    color: #767586;
}

ion-button {
    --border-radius: 10px;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 1em;
    --padding-end: 1em;
    --transition: background-color, opacity 100ms linear;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: -5px;
    margin-bottom: 4px;
    height: 2.8em;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.03em;
}

ion-card {
    margin-inline-start: 5px !important;
    margin-inline-end: 10px !important;
    border-radius: 12px !important;
}

ion-card-header {
    /*padding-inline-start: 10px !important;
  padding-inline-end: 15px !important;*/
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 16px;
}

.batSuccess {
    font-family: 'Lato';
    font-size: 15px;
    color: #62b784;
    font-weight: bold;
    display: inline-flex;
}

.batAlert {
    font-family: 'Lato';
    font-size: 15px;
    color: #d0c858;
    font-weight: bold;
    display: inline-flex;
}

.batDanger {
    font-family: 'Lato';
    font-size: 15px;
    color: #d05868;
    font-weight: bold;
    display: inline-flex;
}

.icoSize {
    font-size: 20px;
    margin-right: 5px;
}