<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Detalle del dispositivo"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-col slot="end">
    <img src="assets/logo - qmuv.svg" width="40%"/>
  </ion-col>
</ion-header>

<ion-content>

  {{raw}}
</ion-content>
