
/*
:root {
    --bullet-background: #D1D2FF;
    
  }

  .swiper-pagination-bullet-active {
    --bullet-background-active: #656CBC;
    background: red;
  }
*/
  /* Without setting height the slides will take up the height of the slide's content */
ion-slides {
    height: 50%;
  }

  ion-slide {
      width: 100%;
  }

  .titulo{
    font-family: 'Lato-Regular';
    color: #767586;
    font-size: 16px;
  }

  ion-row {
    align-items: center;
    text-align: center;
  }
/*
  .logo-row {
    padding-top: 20px;
    padding-bottom: 20px;
  }
*/
  .laminas {
      padding: 20px;
      font-size: 14px;
  }

  .lamina-texto {
    font-size: 14px;
    color: #767586;
}

  .pantalla {
    padding: 10%;
  }

  /*
  .botonCrea {
    --background:#424D99; 
    --color-activated:	#D1D2FF;
    --color: #fff; 
  }
*/
  .botonLogin {
    --background:#fff; 
    --color-activated:	#fff;
    --color: #424D99; 
  }


