<!--
<ion-header>
  <ion-toolbar>
    <ion-title>portada</ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-content>
  <div class="pantalla">
  <ion-grid>
    <ion-row class="logo-row">
      <ion-col>
        <img src="assets/logo - qmuv.svg" />
      </ion-col>
    </ion-row>
    <ion-row class="logo-row">
      <ion-col>
        <span class="titulo">Bienvenido al futuro de la<br/>rehabilitación</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <section class="laminas">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="assets/onboarding/onboarding - 1.svg">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="lamina-texto">QMUV es muy <b>simple de usar,</b> solo debes ubicar el sensor en la <b>zona adecuada,</b> según cada prueba.</p>
            </ion-col>
          </ion-row>
        </ion-grid>
  
      </ion-slide>
      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="assets/onboarding/onboarding - 2.svg">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="lamina-texto">Entregamos <b>datos objetivos</b> para tomar mejores decisiones. Un apoyo a procesos de rehabilitación.</p>
            </ion-col>
          </ion-row>
        </ion-grid>
  
      </ion-slide>
      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="assets/onboarding/onboarding - 3.svg">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="lamina-texto">Podrás <b>acceder y analizar</b> la <b>evolución</b> de tus pacientes y generar <b>reportes</b> automáticos.</p>
            </ion-col>
          </ion-row>
        </ion-grid>
  
      </ion-slide>
    </ion-slides>
  </section>
  
  <section class="botonera">
    <ion-button class="botonCrea" expand="full" shape="round" (click)="gotoCrearCuenta()">Crear cuenta</ion-button>
    <br/>
    <ion-button class="botonLogin" expand="full" shape="round" (click)="gotoLogin()"><b>Ya estoy registrado</b></ion-button>
  </section>

</div>
</ion-content>