ion-slides {
    height: 50%;
}

ion-slide {
    width: 100%;
}

ion-row {
    align-items: center;
    text-align: center;
}

.laminas {
    padding: 20px;
    font-size: 14px;
}

.lamina-texto {
    font-size: 14px;
    color: #767586;
}

.select-full-width {
    max-width: 100% !important;
    width: 100% !important;
    padding-left: 0 !important;
}

.pantalla {
    padding: 5%;
}

h5,
.h5 {
    font-family: 'Lato', sans-serif;
    color: #767586;
    font-weight: 700;
    margin-top: 8px;
    text-align: center;
}

.titulo {
    font-family: 'Lato-Regular';
    color: #424D99;
    font-size: 20px;
    text-align: center;
}

.segundos {
    font-size: 16px;
    color: #424D99;
    font-weight: 700;
}

.icoSeg {
    font-size: 25px;
    margin-top: 10px;
    color: #424D99;
}

.check {
    font-size: 40px;
}

.gray {
    font-size: 40px;
}

.slices-min {
    min-height: 547px !important;
}

@media screen and (min-width: 768px) {
    .slices-min {
        min-height: 851px !important;
    }
}