<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="{{ 'COMUN.volver' | translate }}"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <app-icono-bt></app-icono-bt>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="pantalla">
        <ion-grid>
            <ion-row class="logo-row">
                <ion-col>
                    <img src="assets/logo-qmuv-tg.svg" />
                </ion-col>
            </ion-row>
        </ion-grid>


        <!--===== O N B O A R D I N G ======-->
        <section class="laminas" *ngIf="muestroLanding">
            <ion-slides class="slices-min" #slider pager="true" [options]="slideOpts">
                <!--1-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-img src="assets/onboarding/TG-1.svg"></ion-img>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <p class="lamina-texto"><b>{{ 'TEST.UPGO.onboard1a' | translate }}</b> {{ 'TEST.UPGO.onboard1b' | translate }} <b>{{ 'TEST.UPGO.onboard1c' | translate }}</b></p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>
                <!--2-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-img src="assets/onboarding/TG-2{{'COMUN.img_sufijo' | translate}}.svg"></ion-img>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <p class="lamina-texto">
                                    <b>{{ 'TEST.UPGO.onboard2a' | translate }}</b> {{ 'TEST.UPGO.onboard2b' | translate }} <b>{{ 'TEST.UPGO.onboard2c' | translate }}</b> {{ 'TEST.UPGO.onboard2d' | translate }}
                                    <b>{{ 'TEST.UPGO.onboard2e' | translate }}</b></p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>
                <!--3-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-img src="assets/onboarding/TG-3.svg"></ion-img>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <p class="lamina-texto">
                                    {{ 'TEST.UPGO.onboard3a' | translate }} <b>{{ 'TEST.UPGO.onboard3b' | translate }}</b> {{ 'TEST.UPGO.onboard3c' | translate }} <b>{{ 'TEST.UPGO.onboard3d' | translate }}</b> {{ 'TEST.UPGO.onboard3e' | translate }}
                                    <b>{{ 'TEST.UPGO.onboard3f' | translate }}</b></p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>
                <!--4-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-img src="assets/onboarding/TG-4.svg"></ion-img>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <p class="lamina-texto">
                                    {{ 'TEST.UPGO.onboard4a' | translate }} <b>{{ 'TEST.UPGO.onboard4b' | translate }}</b> {{ 'TEST.UPGO.onboard4c' | translate }}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>
                <!--5-->
                <ion-slide>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-img src="assets/onboarding/TG-5.svg"></ion-img>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <p class="lamina-texto">
                                    {{ 'TEST.UPGO.onboard5a' | translate }} <b>{{ 'TEST.UPGO.onboard5b' | translate }}</b> {{ 'TEST.UPGO.onboard5c' | translate }} <b>{{ 'TEST.UPGO.onboard5d' | translate }}</b> {{ 'TEST.UPGO.onboard5e' | translate }}</p>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-button shape="round" (click)="btnFinLanding()">{{ 'TEST.UPGO.onboard_start' | translate }}</ion-button>
                                <br/><br/><br/>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                </ion-slide>
            </ion-slides>

            <div class="swiper-pagination swiper-pagination-bullets"></div>
        </section>
        <!------->

        <!--===== P R U E B A U P G O ======-->
        <section class="laminas" *ngIf="!muestroLanding">
            <ion-grid>
                <ion-row>
                    <ion-col size="12" *ngIf="pruebasRealizadas == 0 && !examenEnEjecucion">
                        <ion-button color="warning" size="small" shape="round" routerDirection="forward" [routerLink]="['/paciente-nuevo']">
                            <ion-icon name="person-add-outline" style="font-size: 14px"></ion-icon> {{ 'TEST.UPGO.nuevo_paciente' | translate }}</ion-button>
                    </ion-col>
                    <ion-col size="12">
                        <ion-item>
                            <!--ion-select [disabled]="pruebasRealizadas>0 || examenEnEjecucion" class="select-full-width" placeholder="{{ 'TEST.UPGO.sel_pac_reg' | translate }}" [(ngModel)]="pacienteSeleccionado" okText="{{ 'COMUN.aceptar' | translate }}" cancelText="{{ 'COMUN.cancelar' | translate }}">
                                                               <ion-select-option [value]="item" *ngFor="let item of pacientes" style="text-align: center;">{{item.nombre}}</ion-select-option>
                            </ion-select-->
                            <div class="selectUsuarioTest" *ngIf="nombrePaciente === '' ;else seleccionaPaciente" (click)="presentModal()">{{'REPO.selecPaciente'| translate}}</div>
                            <ng-template #seleccionaPaciente>
                                <div (click)="presentModal()">{{nombrePaciente}}</div>
                            </ng-template>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <!--botón-->
            <ion-row style="padding-top: 50px;">
                <ion-col *ngIf="!examenEnEjecucion && pruebasFaltantes.length>0" (click)="btnComenzar()">
                    <img src="assets/icon/btn-play{{'COMUN.img_sufijo' | translate}}.svg" />
                </ion-col>
                <ion-col *ngIf="examenEnEjecucion" (click)="btnFinalizar()">
                    <img src="assets/icon/btn-stop{{'COMUN.img_sufijo' | translate}}.svg" />
                </ion-col>
                <ion-col *ngIf="!examenEnEjecucion && pruebasFaltantes.length==0" (click)="btnAnalizar()">
                    <img src="assets/icon/btn-check{{'COMUN.img_sufijo' | translate}}.svg" />
                </ion-col>
            </ion-row>

            <!--contador segundos-->
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <div *ngIf="examenEnEjecucion">
                            <div *ngIf="(segundos && segundos>0); else esperando" class="segundos">
                                <ion-icon class="icoSeg" name="timer-outline"></ion-icon>
                                <br/> {{segundos}} {{ 'TEST.UPGO.segundos' | translate }}
                            </div>

                            <ng-template #esperando>
                                <div class="segundos">
                                    <ion-icon class="icoSeg" name="timer-outline"></ion-icon>
                                    <br/> Cargando...
                                </div>
                            </ng-template>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <br/>

            <!--mediciones por sesión-->
            <section>
                <h5>
                    <!--Mediciones por sesión-->{{ 'TEST.UPGO.med_x_ses' | translate }}</h5>

                <ion-grid>
                    <ion-row>
                        <ion-col *ngFor="let unaPrueba of upgoService.sesionActual.muestras">

                            <ion-icon class="check" color="success" name="checkmark-circle-outline"></ion-icon>

                        </ion-col>
                        <ion-col *ngFor="let sinPrueba of pruebasFaltantes; let idx = index">
                            <ion-icon name="ellipse-outline" color="medium" class="gray"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="pruebasFaltantes.length>0 && pruebasRealizadas>0">
                        <ion-col>
                            <ion-button color="danger" size="small" shape="round" (click)="btnTerminar()">
                                <ion-icon name="close-circle-outline"></ion-icon> {{ 'TEST.UPGO.no_mas_med' | translate }}
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </section>

            <section *ngIf="modoDebug">

                <table border="1" width="100%">
                    <tr>
                        <td>RAW</td>
                        <td><small>[{{debugRaw}}]</small></td>
                    </tr>
                    <tr>
                        <td>Cuenta</td>
                        <td>{{debugCount}}</td>
                    </tr>
                    <tr>
                        <td>Segundos</td>
                        <td>{{segundos}}</td>
                    </tr>
                    <tr>
                        <td>En ejecucion</td>
                        <td>{{examenEnEjecucion}}</td>
                    </tr>
                </table>

                <br/>

                <table border="1" width="100%">
                    <tr>
                        <td colspan="4">Datos convertidos a int16</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>AX:</td>
                        <td>AY:</td>
                        <td>AZ:</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>{{debugAX}}</td>
                        <td>{{debugAY}}</td>
                        <td>{{debugAZ}}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>GX:</td>
                        <td>GY:</td>
                        <td>GZ:</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>{{debugGX}}</td>
                        <td>{{debugGY}}</td>
                        <td>{{debugGZ}}</td>
                    </tr>
                    <tr>
                        <td>QW:</td>
                        <td>QX:</td>
                        <td>QY:</td>
                        <td>QZ:</td>
                    </tr>
                    <tr>
                        <td>{{debugQW}}</td>
                        <td>{{debugQX}}</td>
                        <td>{{debugQY}}</td>
                        <td>{{debugQZ}}</td>
                    </tr>
                </table>

                <br/>

                <table border="1" width="100%">
                    <tr>
                        <td colspan="4">Datos finales (en la unidad de medida correcta)</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>AX:</td>
                        <td>AY:</td>
                        <td>AZ:</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>{{debugAX_2}}</td>
                        <td>{{debugAY_2}}</td>
                        <td>{{debugAZ_2}}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>GX:</td>
                        <td>GY:</td>
                        <td>GZ:</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>{{debugGX_2}}</td>
                        <td>{{debugGY_2}}</td>
                        <td>{{debugGZ_2}}</td>
                    </tr>
                    <tr>
                        <td>QW:</td>
                        <td>QX:</td>
                        <td>QY:</td>
                        <td>QZ:</td>
                    </tr>
                    <tr>
                        <td>{{debugQW_2}}</td>
                        <td>{{debugQX_2}}</td>
                        <td>{{debugQY_2}}</td>
                        <td>{{debugQZ_2}}</td>
                    </tr>
                </table>
            </section>

            <ion-textarea readonly [value]="textoDEBUG" autoGrow=true></ion-textarea>
            <!--
    <p>Giroscopio</p>
    <table>
      <thead>
        <tr>
          <th colspan="2">Velocidad Angular Eje X</th>
          <th colspan="2">Velocidad Angular Eje Y</th>
          <th colspan="2">Velocidad Angular Eje Z</th>
        </tr>
        <tr>
          <th>byte 1</th>
          <th>byte 2</th>
          <th>byte 3</th>
          <th>byte 4</th>
          <th>byte 5</th>
          <th>byte 6</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registro of dataGiroscopio">
          <td>{{registro[0]}}</td>
          <td>{{registro[1]}}</td>
          <td>{{registro[2]}}</td>
          <td>{{registro[3]}}</td>
          <td>{{registro[4]}}</td>
          <td>{{registro[5]}}</td>
        </tr>
      </tbody>
    </table>
  -->
        </section>
    </div>

</ion-content>
<app-menu-inferior *ngIf="!muestroLanding && pruebasRealizadas == 0 && !examenEnEjecucion"></app-menu-inferior>