<!--BOTON BLUETOOTH
<ion-button shape="round" class="your-class" (click)="bluetooth()" [ngClass]="bluetoothActivo?'bt-activo':'bt-inactivo'" [hidden]="tecladoAbierto">
  <img *ngIf="bluetoothActivo" [src]="imgActive" style="max-width: fit-content;">
  <img *ngIf="!bluetoothActivo" [src]="imgInactive" style="max-width: fit-content;">
</ion-button>-->

<ion-footer class="ion-no-border" [hidden]="tecladoAbierto">
<ion-toolbar class="toolbar-pie">
  <ion-tabs style="height: 60px;">
    

    <ion-tab-bar color="primary" slot="bottom" style="padding: 10px;">
      <!---<ion-tab-button routerDirection="root" [routerLink]="['/home']">
        <ion-icon [src]="pagina=='uno'?'assets/icon/Icon-home-active.svg':'assets/icon/Icon-home-inactive.svg'"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>-->

      <ion-tab-button routerDirection="root" [routerLink]="['/home']">
        <ion-icon [src]="pagina=='uno'?'assets/icon/Icon-home-active.svg':'assets/icon/Icon-home-inactive.svg'"></ion-icon>
        <ion-label>{{ 'MENU.home' | translate }}</ion-label>
      </ion-tab-button>

     <!-- <ion-tab-button class="button-center">
        <div></div>
      </ion-tab-button>-->
  
      <ion-tab-button routerDirection="root" [routerLink]="['/pacientes']">
        <ion-icon [src]="pagina=='tres'?'assets/icon/Icon-pacientes-active.svg':'assets/icon/Icon-pacientes-inactive.svg'"></ion-icon>
        <ion-label><!--Pacientes-->{{ 'MENU.patients' | translate }}</ion-label>
      </ion-tab-button>
  
  
      <ion-tab-button routerDirection="root" [routerLink]="['/reportes']">
        <ion-icon [src]="pagina=='cuatro'?'assets/icon/Icon-reporte-active.svg':'assets/icon/Icon-reporte-inactive.svg'"></ion-icon>
        <ion-label><!--Reportes-->{{ 'MENU.reports' | translate }}</ion-label>
      </ion-tab-button>
    
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
</ion-footer>

