ion-tab-bar{
    padding: 4px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

ion-tab-button{
    background: transparent;
    --color	: #fff;
    --color-selected : #0c6fb2;
    --ripple-color: transparent;
}

.button-center {
    --background: transparent!important;
    ion-icon {
      height: 50px;
      width: 50px;
      font-size: 75px;
    }
  }

.bt-activo {
    background: var(--ion-color-warning);
}

.bt-inactivo {
    background: #F1F1E6;
}

.your-class {
    position: absolute;
    left: 50%;
    bottom: 10px;
    right: 0%;

    width: 70px;
    height: 70px;
    z-index: 100;
    --background: transparent;
    transform: translate(-50%, 0%);

    //Sombra del boton
    box-shadow: 0px 10px 7px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 10px 7px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 10px 7px rgba(0,0,0,0.6);
    -o-box-shadow: 10px -10px rgba(0,0,0,0.6);
    border-radius: 70px;
}

.toolbar-pie {
    --min-height: 60px;
}