<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="">
  <div class="pantalla">
    <ion-grid>
      <ion-row class="logo-row">
        <ion-col>
          <img src="assets/icono - qmuv.svg" />
          <br/><small style="color: #414d99;">{{version}}</small>
        </ion-col>
      </ion-row>
      <ion-row class="logo-row">
        <ion-col>
          <span class="titulo">¡Hola! ingresa tus datos</span>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <form class="form" [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)">
      <ion-item lines="none">
        <ion-label color="medium" position="stacked">Correo electrónico</ion-label>
        <ion-input background-color="light" type="text" formControlName="email" placeholder="email@ejemplo.com"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message"
            *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item lines="none">
        <ion-label color="medium" position="stacked">Contraseña</ion-label>
        <ion-input background-color="light" [type]="hide1 ? 'password' : 'text'" formControlName="password" class="form-controll" required placeholder="mínimo 6 caracteres"></ion-input>
        <ion-icon [name]="hide1 ? 'eye-off' : 'eye'" (click)="hide1 = !hide1" slot="end" style="align-self: flex-end; color: #767586;"></ion-icon>
      
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message"
            *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <div class="botonazo">
        <ion-button expand="full" shape="round" type="submit" [disabled]="!validations_form.valid">Ingresar</ion-button>
      </div>
    
    <p class="ion-text-center">
      <b><a (click)="goToOlvideClave()">Olvidé mi contraseña</a></b>
    </p>
    </form>
  </div>
</ion-content>