<ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button>
          <img src='assets/icon/Icon-menu.svg'>
        </ion-menu-button>
      </ion-buttons>
      
      <ion-title>
        <app-icono-bt></app-icono-bt>
      </ion-title>
  
      <ion-col slot="end">
        <img src="assets/logo - qmuv.svg" width="40%"/>
      </ion-col>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-row>
      <ion-col size="10">
          <ion-list-header>
            <span class="titulo"><!--Dispositivos encontrados-->
              {{ 'DISPO.titulo' | translate }}
            </span>
            
           </ion-list-header>
      </ion-col>
      <ion-col>
        <ion-spinner></ion-spinner>
      </ion-col>
      <!--
      <ion-col size="12" style="padding-left: 20px;">
          <ion-badge color="warning" (click)="scan()"><ion-icon name="bluetooth-outline" style="font-size: 14px"></ion-icon>Buscar dispositivo</ion-badge>
      </ion-col>
      -->
    </ion-row>

  <!-- Visible : {{visible}} - Conectado : {{conectado}} -->
  <ion-card>
    <ion-list>
    <ion-item-sliding *ngIf="dispositivoElegido && (visible || conectado)">
      <ion-item-options side="start">
        <ion-item-option (click)="deviceDetalle(dispositivoElegido)">Propiedades</ion-item-option>
      </ion-item-options>
      <ion-item (click)="shiftConexion(dispositivoElegido)">
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col size="2" class="ion-text-center">
                <img class="signal-icon" [hidden]="!(dispositivoElegido.rssi > -50)" [src]="'assets/signal/signal-5.png'" />
                <img class="signal-icon" [hidden]="!(dispositivoElegido.rssi <= -50 && dispositivoElegido.rssi > -60)" [src]="'assets/signal/signal-4.png'" />
                <img class="signal-icon" [hidden]="!(dispositivoElegido.rssi <= -60 && dispositivoElegido.rssi > -70)" [src]="'assets/signal/signal-3.png'" />
                <img class="signal-icon" [hidden]="!(dispositivoElegido.rssi <= -70 && dispositivoElegido.rssi > -80)" [src]="'assets/signal/signal-2.png'" />
                <img class="signal-icon" [hidden]="!(dispositivoElegido.rssi <= -80 && dispositivoElegido.rssi > -100)" [src]="'assets/signal/signal-1.png'" />
                <img class="signal-icon" [hidden]="!(dispositivoElegido.rssi <= -100)" [src]="'assets/signal/signal-0.png'" />
                <br/>
                <span [hidden]="!(dispositivoElegido.rssi > -100)"><small>{{dispositivoElegido.rssi}}</small></span>
                <span [hidden]="!(dispositivoElegido.rssi <= -100)"><small>---</small></span>
              </ion-col>
              <ion-col size="10">
                <h2 text-nowrap><b>{{dispositivoElegido.nombre}}</b></h2>
                <p text-nowrap>ID : {{dispositivoElegido.id}}</p>
                <!-- <p>RSSI: {{dispositivoElegido.rssi}}</p> 
                <p>Fuerza de la señal:
                  <span *ngIf="dispositivoElegido.rssi > -50">Excelente ({{ dispositivoElegido.rssi}})</span>
                  <span *ngIf="dispositivoElegido.rssi <= -50 && dispositivoElegido.rssi > -60">Buena ({{ dispositivoElegido.rssi}})</span>
                  <span *ngIf="dispositivoElegido.rssi <= -60 && dispositivoElegido.rssi > -70">Regular ({{ dispositivoElegido.rssi}})</span>
                  <span *ngIf="dispositivoElegido.rssi <= -70 && dispositivoElegido.rssi > -80">Débil ({{ dispositivoElegido.rssi}})</span>
                  <span *ngIf="dispositivoElegido.rssi <= -80 && dispositivoElegido.rssi > -9999">Mala ({{ dispositivoElegido.rssi}})</span>
                  <span *ngIf="dispositivoElegido.rssi <= -9999">Sin señal</span>
                </p>
                 <p *ngIf="conectado">CONECTADO</p>
                <p *ngIf="!conectado">DESCONECTADO</p> 
                <ion-progress-bar [value]="dispositivoElegido.fuerza"></ion-progress-bar>-->
              </ion-col>
            </ion-row>
          </ion-grid>
          
          
        </ion-label>
        <ion-icon *ngIf="conectado" name="checkmark-outline"></ion-icon>
      </ion-item>
    </ion-item-sliding>

    <div *ngIf="dispositivosDescubiertos?.length <= 0 && !(visible || conectado)">
      <!--No hay dispositivos para conectar-->
      {{ 'DISPO.no_dev' | translate }}
    </div>

    <ion-item-sliding *ngFor="let device of dispositivosDescubiertos">
      <ion-item-options side="start">
        <ion-item-option (click)="deviceDetalle(device)">Propiedades</ion-item-option>
      </ion-item-options>
      <ion-item (click)="conectaConfirma(device)">
        <!--
        <ion-avatar slot="start">
          
          <img *ngIf="device.id == dispositivoElegido.id" src="/assets/luz-verde.png">
          <img *ngIf="device.id != dispositivoElegido.id" src="/assets/luz-gris.png">
          
        </ion-avatar>
        -->
        
        <!--
        <ion-icon *ngIf="device.id == dispositivoElegido.id" name="checkmark-outline"></ion-icon>
      -->
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col size="2" class="ion-text-center">

                <img class="signal-icon" [hidden]="!(device.rssi > -50)" [src]="'assets/signal/signal-5.png'" />
                <img class="signal-icon" [hidden]="!(device.rssi <= -50 && device.rssi > -60)" [src]="'assets/signal/signal-4.png'" />
                <img class="signal-icon" [hidden]="!(device.rssi <= -60 && device.rssi > -70)" [src]="'assets/signal/signal-3.png'" />
                <img class="signal-icon" [hidden]="!(device.rssi <= -70 && device.rssi > -80)" [src]="'assets/signal/signal-2.png'" />
                <img class="signal-icon" [hidden]="!(device.rssi <= -80 && device.rssi > -100)" [src]="'assets/signal/signal-1.png'" />
                <img class="signal-icon" [hidden]="!(device.rssi <= -100)" [src]="'assets/signal/signal-0.png'" />
                <br/>
                <span [hidden]="!(device.rssi > -100)"><small>{{device.rssi}}</small></span>
                <span [hidden]="!(device.rssi <= -100)"><small>---</small></span>

              </ion-col>
              <ion-col size="10">

                <h2 text-nowrap>{{ device.nombre || 'Unnamed' }}</h2>
                <!--
                <h3 *ngIf="device.id == dispositivoElegido.id">Conectado</h3>
                <h3 *ngIf="device.id != dispositivoElegido.id">No conectado</h3>
                -->
                <p text-nowrap>ID : {{device.id}}</p>
                <!--
                <p>Fuerza de la señal:
                  <span *ngIf="device.rssi > -50">Excelente ({{ device.rssi}})</span>
                  <span *ngIf="device.rssi <= -50 && device.rssi > -60">Buena ({{ device.rssi}})</span>
                  <span *ngIf="device.rssi <= -60 && device.rssi > -70">Regular ({{ device.rssi}})</span>
                  <span *ngIf="device.rssi <= -70 && device.rssi > -80">Débil ({{ device.rssi}})</span>
                  <span *ngIf="device.rssi <= -80 && device.rssi > -9999">Mala ({{ device.rssi}})</span>
                  <span *ngIf="device.rssi <= -9999">Sin señal</span>
                </p>
                <ion-progress-bar [value]="device.fuerza"></ion-progress-bar>
                -->

              </ion-col>
            </ion-row>
          </ion-grid>

          
        </ion-label>
      </ion-item>
    </ion-item-sliding>
    </ion-list> 
  </ion-card>

  <div *ngIf="debug">
    <p>Texto log</p>
    <ion-badge color="warning" (click)="borraTextoLog()"><ion-icon name="bluetooth-outline" style="font-size: 14px"></ion-icon>Limpiar</ion-badge>
    <table>
      <tr *ngFor="let linea of sensorInnercialService.textoLog">
        <td>{{linea}}</td>
      </tr>
    </table>
  </div>
  
</ion-content>

<div style="display:none;">
  <img class="signal-icon" [src]="'assets/signal/signal-5.png'" />
  <img class="signal-icon" [src]="'assets/signal/signal-4.png'" />
  <img class="signal-icon" [src]="'assets/signal/signal-3.png'" />
  <img class="signal-icon" [src]="'assets/signal/signal-2.png'" />
  <img class="signal-icon" [src]="'assets/signal/signal-1.png'" />
  <img class="signal-icon" [src]="'assets/signal/signal-0.png'" />
</div>

<app-menu-inferior></app-menu-inferior>