.titulo{
    font-family: 'Lato-Regular';
    color: #424D99;
    font-size: 20px;
  }

  .sc-ion-label-ios-s h2 {
    font-size: 16px !important;
    color: #000 !important;
}

.signal-icon {
  width: 30px;
  height: 30px;
}