ion-slides {
    height: 50%;
}

ion-slide {
    width: 90%;
    //width: 100%;
}

ion-row {
    align-items: center;
    text-align: left;
}

ion-list-header {
    margin-top: -10px !important;
}


/*.laminas {
    padding: 20px;
    font-size: 14px;
}*/

.titulo {
    font-family: 'Lato-Regular';
    color: #424D99;
    font-size: 20px;
}

.subtitulo {
    font-family: 'Lato-Regular';
    color: #767586;
    font-size: 18px;
    font-weight: 700;
}

.resultados {
    font-family: 'Lato-Regular';
    color: #767586;
    font-weight: 700;
}

.unidadMedida {
    font-family: 'Lato-Regular';
    color: #424D99;
    font-weight: 700;
}

.ubicacionTexto {
    text-align: right;
    padding-right: 20px;
}

.boton {
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
}

.button-outline {
    border-radius: 0px !important;
    border-width: 0px !important;
    border-style: none !important;
}

.badge-secondary {
    font-size: 14px;
    color: white;
}

.badge-info {
    font-size: 14px;
    color: white;
    width: 140px;
    text-align: left;
}

.rotate-270 {
    display: inline-block;
    transform: rotateY(180deg);
}

.tarjetaDestacada {
    background-color: lightgrey;
}

.cardUbicacion {
    margin-inline-start: 5px;
    margin-inline-end: 5px;
}

.botonTooltip {
    color: var(--ion-color-base);
    background: transparent;
}

.pullRight {
    text-align: right;
}