<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <!--
    <ion-title>Register</ion-title>
    -->
  </ion-toolbar>
</ion-header>

<ion-content class="">
  <div class="pantalla">
      <ion-grid>
          <ion-row class="logo-row">
            <ion-col>
              <img src="assets/icono - qmuv.svg" />
            </ion-col>
          </ion-row>
          <ion-row class="logo-row">
            <ion-col>
              <span class="titulo">Completa tus datos</span>
            </ion-col>
          </ion-row>
      </ion-grid>
    
    <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegister(validations_form.value)">

      <ion-item lines="none">
        <ion-label color="medium" position="stacked">Nombre completo</ion-label>
        <ion-input background-color="light" type="text" formControlName="nombre" class="form-controll" required
          placeholder="José Castellón Martínez"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.nombre">
          <div class="error-message"
            *ngIf="validations_form.get('nombre').hasError(validation.type) && (validations_form.get('nombre').dirty || validations_form.get('nombre').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item lines="none">
        <ion-checkbox color="secondary" slot="start" formControlName="legal"></ion-checkbox>
        <ion-label class="legal">Lorem ipsum dolor sit amen, lorem ipsum dolor sit amet lorem <a
            href="http://www.google.cl" target="_blank"><b>Términos y condiciones</b></a></ion-label>
      </ion-item>


      <div class="botonazo">
        <ion-button expand="full" shape="round" type="submit" [disabled]="!validations_form.valid">Registrar
        </ion-button>
        

        <label class="error-message">{{errorMessage}}</label>
        <label class="success-message">{{successMessage}}</label>
      </div>
    </form>
    <!--
    <p class="go-to-login">Already have an account? <a (click)="goLoginPage()">Try to Log In.</a></p>
    -->
  </div>
</ion-content>
