<ion-content>
<section *ngIf="codigo == '1'">
  <ion-grid>
    <ion-row>
      <ion-col>
        <span class="info">
          <!--
        Índices que permiten identificar rápidamente la simetría de marcha global y durante la fase de apoyo y la fase de balanceo. Estos valores se encuentran entre 0 y 1, donde 1 es una marcha perfectamente simétrica y 0 una marcha no simétrica.
          -->
          {{ 'TOOLTIPS.cod_01' | translate }}
      </span>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</section>

<section *ngIf="codigo == '2'">
  <ion-grid>
    <ion-row>
      <ion-col>
        <span class="info"> 
        <!--Índices que representan la movilidad espacial de la marcha. Se presenta el valor promedio de los pasos detectados junto a su desviación estándar para pie izquierdo (I) y pie derecho (D).-->
        {{ 'TOOLTIPS.cod_02' | translate }}
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<section *ngIf="codigo == '3'">
  <ion-grid>
    <ion-row>
      <ion-col>
        <span class="info"> 
        <!--Índices que representan la duración de cada una de las sub-fases del ciclo de la marcha. Se presenta el valor promedio de los pasos detectados junto a su desviación estándar.-->
        {{ 'TOOLTIPS.cod_03' | translate }}
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<section *ngIf="codigo == '4'">
  <ion-grid>
    <ion-row>
      <ion-col>
        <span class="info"> 
          <!--Duración de cada una de las subtareas del “Timed Up & Go” en segundos.-->
          {{ 'TOOLTIPS.cod_04' | translate }}
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<section *ngIf="codigo == '5'">
  <ion-grid>
    <ion-row>
      <ion-col>
        <span class="info">
          <!--Índices medidos del sensor ubicado en la espalda baja del usuario. <br>
          Estos índices corresponden a variables de aceleración y velocidad.-->
          {{ 'TOOLTIPS.cod_05a' | translate }}<br>{{ 'TOOLTIPS.cod_05b' | translate }}
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<section *ngIf="codigo == '6'">
  <ion-grid>
    <ion-row>
      <ion-col>
        <span class="info">
          <!--
          Indicaciones sobre el estado del usuario al realizar la prueba. <br>
          Las recomendaciones automáticas permiten identificar en cual subtarea tiene mayores problemas.
          -->
          {{ 'TOOLTIPS.cod_06a' | translate }}<br>{{ 'TOOLTIPS.cod_06b' | translate }}
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<section *ngIf="codigo == '7'">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <span class="info">
        <!--Criterio diagnóstico para el manejo de riesgo de caídas:-->
        {{ 'TOOLTIPS.cod_07' | translate }}
        <ul>
          <li><b>{{ 'TOOLTIPS.cod_07a' | translate }}</b> <small>{{ 'TOOLTIPS.cod_07b' | translate }}</small></li>
          <li><b>{{ 'TOOLTIPS.cod_07c' | translate }}</b> <small>{{ 'TOOLTIPS.cod_07d' | translate }}</small></li>
          <li><b>{{ 'TOOLTIPS.cod_07e' | translate }}</b> <small>{{ 'TOOLTIPS.cod_07f' | translate }}</small></li>
        </ul>
       </span>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<section *ngIf="codigo == '8'">
  <ion-grid>
    <ion-row>
      <ion-col>
        <span class="info"> 
          <!--Criterio diagnóstico para tipo de marcha:-->
          {{ 'TOOLTIPS.cod_08' | translate }}
          <ul>
          <li><b>{{ 'TOOLTIPS.cod_08a' | translate }}</b> <small>{{ 'TOOLTIPS.cod_08b' | translate }}</small></li>
          <li><b>{{ 'TOOLTIPS.cod_08c' | translate }}</b> <small>{{ 'TOOLTIPS.cod_08d' | translate }}</small></li>
          <li><b>{{ 'TOOLTIPS.cod_08e' | translate }}</b> <small>{{ 'TOOLTIPS.cod_08f' | translate }}</small></li>
          <li><b>{{ 'TOOLTIPS.cod_08g' | translate }}</b> <small>{{ 'TOOLTIPS.cod_08h' | translate }}</small></li>
          </ul>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<section *ngIf="codigo == '9'">
  <ion-grid>
    <ion-row>
      <ion-col>
        Info 9
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<section *ngIf="codigo == '10'">
  <ion-grid>
    <ion-row>
      <ion-col>
        Info 10
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<section *ngIf="codigo == '11'">
  <ion-grid>
    <ion-row>
      <ion-col>
        Info 11
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<section *ngIf="codigo == '12'">
  <ion-grid>
    <ion-row>
      <ion-col>
        Info 12
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<section *ngIf="codigo == '13'">
  <ion-grid>
    <ion-row>
      <ion-col>
        <span class="info"> 
        <!--Gráfico de tendencia que permite observar la evolución en el estado de los índices espaciales del ciclo de la marcha.-->
        {{ 'TOOLTIPS.cod_13' | translate }}
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<section *ngIf="codigo == '14'">
  <ion-grid>
    <ion-row>
      <ion-col>
        <span class="info"> 
        <!--Gráfico de tendencia que permite observar la evolución en el estado de los índices temporales del ciclo de la marcha.-->
        {{ 'TOOLTIPS.cod_14' | translate }}
          </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<section *ngIf="codigo == '15'">
  <ion-grid>
    <ion-row>
      <ion-col>
        Info 15
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<section *ngIf="codigo == '16'">
  <ion-grid>
    <ion-row>
      <ion-col>
        Info 16
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<section *ngIf="codigo == '17'">
  <ion-grid>
    <ion-row>
      <ion-col>
        Info 17
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<section *ngIf="codigo == '18'">
  <ion-grid>
    <ion-row>
      <ion-col>
        Info 18
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<section *ngIf="codigo == '19'">
  <ion-grid>
    <ion-row>
      <ion-col>
        <span class="info">
          <!--Se muestran las 10 últimas sesiones y la primera. Las líneas de colores indican el criterio usado para definir el tipo de marcha.-->
          {{ 'TOOLTIPS.cod_19' | translate }}
      </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<section *ngIf="codigo == '20'">
  <ion-grid>
    <ion-row>
      <ion-col>
        <span class="info">
          <!--
            Evolución global del usuario. Se muestra la primera y las 9 últimas sesiones realizadas. 
            Los líneas de colores indican el umbral usado para definir el tipo de marcha.
          -->
          {{ 'TOOLTIPS.cod_20' | translate }}
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<section *ngIf="codigo == '21'">
  <ion-grid>
    <ion-row>
      <ion-col>
        <span class="info">
          <!--Gráfico que permite observar la evolución en el estado de las subtareas del “Timed Up & Go” en segundos.-->
          {{ 'TOOLTIPS.cod_21' | translate }}
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<section *ngIf="codigo == '22'">
  <ion-grid>
    <ion-row>
      <ion-col>
        <span class="info">
          <!--
          Los gráficos de tendencias ilustran los índices de movilidad, indicando la evolución en cada una de las mediciones.
          -->
          {{ 'TOOLTIPS.cod_22' | translate }}
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<section *ngIf="codigo == '23'">
  <ion-grid>
    <ion-row>
      <ion-col>
        <span class="info">
          <!--Señal de aceleración (G) con pasos detectados.-->
          {{ 'TOOLTIPS.cod_23' | translate }}
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

</ion-content>