ion-slides {
    height: 50%;
}

ion-slide {
    width: 100%;
}

ion-row {
    align-items: center;
    text-align: left;
  }

ion-list-header{
  margin-top: -10px !important;
}

/*.laminas {
    padding: 20px;
    font-size: 14px;
}*/

.tarjetaDestacada {
  background-color: lightgrey;
}

.titulo{
    font-family: 'Lato-Regular';
    color: #424D99;
    font-size: 20px;
}

.subtitulo{
    font-family: 'Lato-Regular';
    color: #767586;
    font-size: 17px;
    font-weight: 700;
}

.resultados{
    font-family: 'Lato-Regular';
    color: #767586;
    font-weight: 700;
}

.ubicacionTexto{
    text-align: right;
    padding-right: 20px;
}

.boton{
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
}

.badge-secondary{
    font-size: 14px;
    color: white;
}

.badge-info{
  font-size: 14px;
  color: white;
  width: 150px;
  text-align: left;
}

.infoIzq{
  padding-left: 10px;
}

.infoDer{
  padding-left: 5px;
}

.ubicacionBar{
  padding-top: 5px;
  margin-top: 5px;
}

.orange{
  background-color:#ff8d14;
  color: #fff;
}

.unidadMedida{
  font-family: 'Lato-Regular';
  color: #424D99;
  font-weight: 700;
}

