<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- <ion-back-button text="volver"></ion-back-button> -->
            <ion-button app-location-back fill="clear" (click)="volver()">
                <ion-icon name="chevron-back"></ion-icon><!--volver--> {{ 'COMUN.volver' | translate }}
            </ion-button>
        </ion-buttons>
        <ion-col slot="end">
            <img src="assets/logo - qmuv.svg" width="40%" />
        </ion-col>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-row>
            <ion-col>
                <ion-list-header>
                    <section class="laminas" *ngIf="analisis">
                        <span class="titulo"><!--Resultado prueba Test 10 metros-->{{ 'TEST.10MTS.result_test' | translate }}</span>
                    </section>
                </ion-list-header>
            </ion-col>
        </ion-row>

        <!--======= aqui va el grafico ======= -->
        <ion-row>
            <ion-col>
                <ion-list-header>
                    <span class="titulo"><!--Mediciones-->{{ 'TEST.10MTS.medi_tit' | translate }}</span>
                    <ion-button size="small" shape="round" color="primary" (click)="notifications(23)">
                        <ion-icon name="information-circle-outline"></ion-icon>
                    </ion-button>
                </ion-list-header>
            </ion-col>
        </ion-row>

        <ion-slides #slider pager="true" [options]="slideOpts">
            <!--1-->
            <ion-slide>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-card class="cardUbicacion" [ngClass]="{'tarjetaDestacada': !destacado1}">
                                <ion-col size="12">
                                    <span class="subtitulo" style="padding-left:20px;"> <!--Medición-->{{ 'TEST.10MTS.medi' | translate }} 1 <small *ngIf="destacado1">{{glosaResaltado}}</small></span>
                                </ion-col>
                                <canvas #lineCanvas1></canvas>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-slide>

            <!--2-->
            <ion-slide>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-card class="cardUbicacion" [ngClass]="{'tarjetaDestacada': !destacado2}">
                                <ion-col size="12">
                                    <span class="subtitulo" style="padding-left:20px;"> <!--Medición-->{{ 'TEST.10MTS.medi' | translate }} 2 <small *ngIf="destacado2">{{glosaResaltado}}</small></span>
                                </ion-col>
                                <canvas #lineCanvas2></canvas>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-slide>

            <!--3-->
            <ion-slide>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-card class="cardUbicacion" [ngClass]="{'tarjetaDestacada': !destacado3}">
                                <ion-col size="12">
                                    <span class="subtitulo" style="padding-left:20px;"> <!--Medición-->{{ 'TEST.10MTS.medi' | translate }} 3 <small *ngIf="destacado3">{{glosaResaltado}}</small></span>
                                </ion-col>
                                <canvas #lineCanvas3></canvas>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-slide>

        </ion-slides>

        <!-- velocidad de marcha -->
        <section class="laminas" *ngIf="analisis">
            <ion-card>
                <ion-grid style="padding-left: 15px;">
                    <ion-row>
                        <ion-col size="12">
                            <span class="subtitulo"><!--Velocidad de marcha-->{{ 'TEST.10MTS.velo_march' | translate }} {{analisis.v_gait | number:'1.2-2'}} m/s</span>
                        </ion-col>
                        <ion-col size="9">
                            <!--<ion-badge class="badge-secondary" color="secondary"><ion-icon name="walk-sharp"></ion-icon>{{analisis.gait_result}}</ion-badge>-->
                            <ion-list-header style="margin-top: -30px !important; margin-left: -20px; width: auto !important;">
                                <!--  -->
                                <ion-badge *ngIf="analisis.v_gait >= 1.2" color="success" style="color:white;">
                                    <ion-icon name="walk-sharp"></ion-icon> <!--Marcha segura-->{{ 'TEST.10MTS.marchas.m1' | translate }}</ion-badge>
                                <!-- Marcha segura -->
                                <ion-badge *ngIf="analisis.v_gait >= 0.8 && analisis.v_gait < 1.2" color="warning">
                                    <ion-icon name="walk-sharp"></ion-icon> <!--Marcha comunitaria-->{{ 'TEST.10MTS.marchas.m2' | translate }}</ion-badge>
                                <!-- Marcha comunitaria -->
                                <ion-badge *ngIf="analisis.v_gait >= 0.4 && analisis.v_gait < 0.8" class="orange">
                                    <ion-icon name="walk-sharp"></ion-icon> <!--Marcha comunitaria dependiente-->{{ 'TEST.10MTS.marchas.m3' | translate }} </ion-badge>
                                <!-- Marcha comunitaria dependiente -->
                                <ion-badge *ngIf="analisis.v_gait < 0.4" color="danger">
                                    <ion-icon name="walk-sharp"></ion-icon> <!--Marcha intra-domicialiaria-->{{ 'TEST.10MTS.marchas.m4' | translate }} </ion-badge>
                                <!-- Marcha intra-domicialiaria -->

                                <ion-button size="small" shape="round" color="primary" (click)="notifications(8)" class="botonTooltip" style="margin-left: -20px;">
                                    <ion-icon name="information-circle-outline"></ion-icon>
                                </ion-button>
                            </ion-list-header>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card>
        </section>

        <!-- Índices generales Simetria -->
        <section class="laminas" *ngIf="analisis">
            <ion-row>
                <ion-col>
                    <ion-list-header>
                        <span class="titulo"><!--Simetría-->{{ 'TEST.10MTS.simetria' | translate }}</span>
                        <ion-button size="small" shape="round" color="primary" (click)="notifications(1)">
                            <ion-icon name="information-circle-outline"></ion-icon>
                        </ion-button>
                    </ion-list-header>
                </ion-col>
            </ion-row>

            <ion-card>
                <ion-row style="padding-left: 5px;">
                    <ion-col class="ion-align-items-start">
                        <ion-badge class="badge-info" color="secondary">
                            <ion-icon name="man-sharp"></ion-icon> <!--Fase de apoyo-->{{ 'TEST.10MTS.sime.f_apo' | translate }}</ion-badge>
                    </ion-col>
                    <ion-col class="ion-align-self-end ubicacionTexto">
                        <span class="resultados">{{analisis.stance_simetry | number:'1.2-2'}}</span>
                    </ion-col>
                    <div class="item-inner-highlight"></div>
                </ion-row>

                <ion-row style="padding-left: 5px;">
                    <ion-col class="ion-align-items-start">
                        <ion-badge class="badge-info" color="tertiary">
                            <ion-icon name="body"></ion-icon> <!--Fase de balanceo-->{{ 'TEST.10MTS.sime.f_bal' | translate }}</ion-badge>
                    </ion-col>
                    <ion-col class="ion-align-self-end ubicacionTexto">
                        <span class="resultados">{{analisis.swing_simetry | number:'1.2-2'}}</span>
                    </ion-col>
                    <div class="item-inner-highlight"></div>
                </ion-row>

                <ion-row style="padding-left: 5px;">
                    <ion-col class="ion-align-items-start">
                        <ion-badge class="badge-info" color="secondary">
                            <ion-icon name="walk"></ion-icon> <!--Marcha-->{{ 'TEST.10MTS.sime.f_mar' | translate }}</ion-badge>
                    </ion-col>
                    <ion-col class="ion-align-self-end ubicacionTexto">
                        <span class="resultados">{{analisis.gait_simetry | number:'1.2-2'}}</span>
                    </ion-col>
                    <div class="item-inner-highlight"></div>
                </ion-row>

            </ion-card>
        </section>

        <!-- Indices espaciales - paso -->
        <section *ngIf="analisis">
            <ion-row>
                <ion-col>
                    <ion-list-header>
                        <span class="titulo"><!--Índices espaciales-->{{ 'TEST.10MTS.idx_espaciales' | translate }}</span>
                        <ion-button size="small" shape="round" color="primary" (click)="notifications(2)">
                            <ion-icon name="information-circle-outline"></ion-icon>
                        </ion-button>
                    </ion-list-header>
                </ion-col>
            </ion-row>
            <ion-card>
                <ion-grid>
                    <ion-row>
                        <ion-col size="3"><!--Apoyo (%)-->{{ 'TEST.10MTS.idx_esp.apo' | translate }}</ion-col>
                        <ion-col size="9">
                            <ion-row>
                                <ion-col size="6"><b>I</b> <span class="infoIzq">{{analisis.l_stance | number:'1.2-2'}} ± {{analisis.dv_l_stance | number:'1.2-2'}} </span> </ion-col>
                                <ion-col size="5">
                                    <ion-progress-bar color="warning" class="ubicacionBar" [value]="analisis.l_stance / maximo(analisis.l_stance, analisis.r_stance)"></ion-progress-bar>
                                </ion-col>
                                <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="6"><b>D</b> <span class="infoDer"> {{analisis.r_stance | number:'1.2-2'}} ± {{analisis.dv_r_stance | number:'1.2-2'}} </span> </ion-col>
                                <ion-col size="5">
                                    <ion-progress-bar color="secondary" class="ubicacionBar" [value]="analisis.r_stance / maximo(analisis.l_stance, analisis.r_stance)"></ion-progress-bar>
                                </ion-col>
                                <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="3"><!--Balanceo (%)-->{{ 'TEST.10MTS.idx_esp.bal' | translate }}</ion-col>
                        <ion-col size="9">
                            <ion-row>
                                <ion-col size="6"><b>I</b> <span class="infoIzq">{{analisis.l_swing | number:'1.2-2'}} ± {{analisis.dv_l_swing | number:'1.2-2'}} </span> </ion-col>
                                <ion-col size="5">
                                    <ion-progress-bar color="warning" class="ubicacionBar" [value]="analisis.l_swing / maximo(analisis.l_swing, analisis.r_swing)"></ion-progress-bar>
                                </ion-col>
                                <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="6"><b>D</b> <span class="infoDer"> {{analisis.r_swing | number:'1.2-2'}} ± {{analisis.dv_r_swing | number:'1.2-2'}} </span> </ion-col>
                                <ion-col size="5">
                                    <ion-progress-bar color="secondary" class="ubicacionBar" [value]="analisis.r_swing / maximo(analisis.l_swing, analisis.r_swing)"></ion-progress-bar>
                                </ion-col>
                                <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="3"><!--Largo (mt)-->{{ 'TEST.10MTS.idx_esp.lar' | translate }}</ion-col>
                        <ion-col size="9">
                            <ion-row>
                                <ion-col size="6"><b>I</b> <span class="infoIzq">{{analisis.l_steplength | number:'1.2-2'}} ± {{analisis.dv_l_steplength | number:'1.2-2'}} </span> </ion-col>
                                <ion-col size="5">
                                    <ion-progress-bar color="warning" class="ubicacionBar" [value]="analisis.l_steplength / maximo(analisis.l_steplength, analisis.r_steplength)"></ion-progress-bar>
                                </ion-col>
                                <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="6"><b>D</b> <span class="infoDer"> {{analisis.r_steplength | number:'1.2-2'}} ± {{analisis.dv_r_steplength | number:'1.2-2'}} </span> </ion-col>
                                <ion-col size="5">
                                    <ion-progress-bar color="secondary" class="ubicacionBar" [value]="analisis.r_steplength / maximo(analisis.l_steplength, analisis.r_steplength)"></ion-progress-bar>
                                </ion-col>
                                <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card>
        </section>

        <!-- Índices temporales style="padding-left: 15px;"-->
        <section *ngIf="analisis">
            <ion-row>
                <ion-col>
                    <ion-list-header>
                        <span class="titulo"><!--Índices temporales-->{{ 'TEST.10MTS.idx_temporales' | translate }}</span>
                        <ion-button size="small" shape="round" color="primary" (click)="notifications(3)">
                            <ion-icon name="information-circle-outline"></ion-icon>
                        </ion-button>
                    </ion-list-header>
                </ion-col>
            </ion-row>
            <ion-card>
                <ion-grid>
                    <ion-row>
                        <ion-col size="3"><!--Cadencia [pasos/min]-->{{ 'TEST.10MTS.idx_tem.cad' | translate }}</ion-col>
                        <ion-col size="9">
                            <ion-row>
                                <ion-col size="6"><b>I</b> <span class="infoIzq">{{analisis.l_cadence | number:'1.2-2'}} ± {{analisis.dv_l_cadence | number:'1.2-2'}} </span> </ion-col>
                                <ion-col size="5">
                                    <ion-progress-bar color="warning" class="ubicacionBar" [value]="analisis.l_cadence / maximo((analisis.l_cadence + analisis.dv_l_cadence), (analisis.r_cadence + analisis.dv_r_cadence))" [buffer]="(analisis.l_cadence + analisis.dv_l_cadence) / maximo((analisis.l_cadence + analisis.dv_l_cadence), (analisis.r_cadence + analisis.dv_r_cadence))"></ion-progress-bar>
                                </ion-col>
                                <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="6"><b>D</b> <span class="infoDer"> {{analisis.r_cadence | number:'1.2-2'}} ± {{analisis.dv_r_cadence | number:'1.2-2'}} </span></ion-col>
                                <ion-col size="5">
                                    <ion-progress-bar color="secondary" class="ubicacionBar" [value]="analisis.r_cadence / maximo((analisis.l_cadence + analisis.dv_l_cadence), (analisis.r_cadence + analisis.dv_r_cadence))" [buffer]="(analisis.r_cadence + analisis.dv_r_cadence) / maximo((analisis.l_cadence + analisis.dv_l_cadence), (analisis.r_cadence + analisis.dv_r_cadence))"></ion-progress-bar>
                                </ion-col>
                                <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="3"><!--Tiempo de zancada [s]-->{{ 'TEST.10MTS.idx_tem.tdz' | translate }}</ion-col>
                        <ion-col size="9">
                            <ion-row>
                                <ion-col size="6"><b>I</b> <span class="infoIzq"> {{analisis.l_stridetime | number:'1.2-2'}} ± {{analisis.dv_l_stridetime | number:'1.2-2'}} </span> </ion-col>
                                <ion-col size="5">
                                    <ion-progress-bar color="warning" class="ubicacionBar" [value]="analisis.l_stridetime / maximo(analisis.l_stridetime, analisis.r_stridetime)"></ion-progress-bar>
                                </ion-col>
                                <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="6"><b>D</b> <span class="infoDer"> {{analisis.r_stridetime | number:'1.2-2'}} ± {{analisis.dv_r_stridetime | number:'1.2-2'}} </span> </ion-col>
                                <ion-col size="5">
                                    <ion-progress-bar color="secondary" class="ubicacionBar" [value]="analisis.r_stridetime / maximo(analisis.l_stridetime, analisis.r_stridetime)"></ion-progress-bar>
                                </ion-col>
                                <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="3"><!--Tiempo de paso [s]-->{{ 'TEST.10MTS.idx_tem.tdp' | translate }}</ion-col>
                        <ion-col size="9">
                            <ion-row>
                                <ion-col size="6"><b>I</b> <span class="infoIzq"> {{analisis.l_steptime | number:'1.2-2'}} ± {{analisis.dv_l_steptime | number:'1.2-2'}} </span> </ion-col>
                                <ion-col size="5">
                                    <ion-progress-bar color="warning" class="ubicacionBar" [value]="analisis.l_steptime / maximo(analisis.l_steptime, analisis.r_steptime)"></ion-progress-bar>
                                </ion-col>
                                <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="6"><b>D</b> <span class="infoDer"> {{analisis.r_steptime | number:'1.2-2'}} ± {{analisis.dv_r_steptime | number:'1.2-2'}} </span> </ion-col>
                                <ion-col size="5">
                                    <ion-progress-bar color="secondary" class="ubicacionBar" [value]="analisis.r_steptime / maximo(analisis.l_steptime, analisis.r_steptime)"></ion-progress-bar>
                                </ion-col>
                                <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="3"><!--Tiempo de soporte simple [s]-->{{ 'TEST.10MTS.idx_tem.tss' | translate }}</ion-col>
                        <ion-col size="9">
                            <ion-row>
                                <ion-col size="6"><b>I</b> <span class="infoIzq"> {{analisis.l_ssupporttime | number:'1.2-2'}} ± {{analisis.dv_l_ssupporttime | number:'1.2-2'}} </span> </ion-col>
                                <ion-col size="5">
                                    <ion-progress-bar color="warning" class="ubicacionBar" [value]="analisis.l_ssupporttime / maximo(analisis.l_ssupporttime, analisis.r_ssupporttime)"></ion-progress-bar>
                                </ion-col>
                                <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="6"><b>D</b> <span class="infoDer"> {{analisis.r_ssupporttime | number:'1.2-2'}} ± {{analisis.dv_r_ssupporttime | number:'1.2-2'}} </span> </ion-col>
                                <ion-col size="5">
                                    <ion-progress-bar color="secondary" class="ubicacionBar" [value]="analisis.r_ssupporttime / maximo(analisis.l_ssupporttime, analisis.r_ssupporttime)"></ion-progress-bar>
                                </ion-col>
                                <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="3"><!--Tiempo de soporte doble [s]-->{{ 'TEST.10MTS.idx_tem.tsd' | translate }}</ion-col>
                        <ion-col size="9">
                            <ion-row>
                                <ion-col size="6"><b>I</b> <span class="infoIzq"> {{analisis.l_dsupporttime | number:'1.2-2'}} ± {{analisis.dv_l_dsupporttime | number:'1.2-2'}} </span> </ion-col>
                                <ion-col size="5">
                                    <ion-progress-bar color="warning" class="ubicacionBar" [value]="analisis.l_dsupporttime / maximo(analisis.l_dsupporttime, analisis.r_dsupporttime)"></ion-progress-bar>
                                </ion-col>
                                <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="6"><b>D</b> <span class="infoDer"> {{analisis.r_dsupporttime | number:'1.2-2'}} ± {{analisis.dv_r_dsupporttime | number:'1.2-2'}} </span> </ion-col>
                                <ion-col size="5">
                                    <ion-progress-bar color="secondary" class="ubicacionBar" [value]="analisis.r_dsupporttime / maximo(analisis.l_dsupporttime, analisis.r_dsupporttime)"></ion-progress-bar>
                                </ion-col>
                                <ion-col size="1"><b style="margin-left: -10px;"> |</b></ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card>
        </section>

        <!-- Botones -->
        <section>
            <ion-grid>
                <ion-row>
                    <ion-col size="12">
                        <ion-button shape="round" expand="full" (click)="agregaHistorial()" *ngIf="!guardado"><!--Agregar al historial-->{{ 'TEST.agr_hist' | translate }}</ion-button>
                    </ion-col>
                    <ion-col size="12">
                        <ion-button shape="round" expand="full" color="primary" (click)="eliminar()" fill="outline" *ngIf="!guardado"><!--Repetir medición-->{{ 'TEST.rep_medi' | translate }}</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </section>
    </ion-list>
    <br/>
    <br/>
</ion-content>

<app-menu-inferior *ngIf="guardado"></app-menu-inferior>