<!--<ion-button shape="round" class="your-class" (click)="bluetooth()" [ngClass]="bluetoothActivo?'bt-activo':'bt-inactivo'">
  <img *ngIf="bluetoothActivo" [src]="imgActive" style="max-width: fit-content;">
  <img *ngIf="!bluetoothActivo" [src]="imgInactive" style="max-width: fit-content;">
</ion-button>-->

<!--conectado-->
<img *ngIf="bluetoothActivo" src="assets/icon/ico-active{{'COMUN.img_sufijo' | translate}}.svg" (click)="bluetooth()">
<!--desconectado-->
<img *ngIf="!bluetoothActivo" src="assets/icon/ico-inactive{{'COMUN.img_sufijo' | translate}}.svg" (click)="bluetooth()">