  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .sc-ion-searchbar-ios-h {
    --background: #E9EAFF;
  }

  .titulo{
    font-family: 'Lato-Regular';
    color: #424D99;
    font-size: 20px;
  }

  h2, .h2{
    font-family: 'Lato',sans-serif;
    color: #767586;
    font-weight: 700;
    margin-top: 8px;
  }

.pacientes {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nombrePaciente {
  overflow: hidden;
  text-overflow: ellipsis;
}