<ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button>
          <img src='assets/icon/Icon-menu.svg'>
        </ion-menu-button>
      </ion-buttons>
      
      <ion-title>
        <app-icono-bt></app-icono-bt>
      </ion-title>
  
      <ion-col slot="end">
        <img src="assets/logo - qmuv.svg" width="40%"/>
      </ion-col>
    </ion-toolbar>
  </ion-header>

<ion-content>

  <ion-searchbar [formControl]="searchControl" (ionChange)="onSearchInput()" placeholder="{{ 'PACI.filtro' | translate }}"></ion-searchbar>
  
  <ion-list>
    <ion-row>
      <ion-col>
        <ion-list-header>
          <p class="titulo" style="white-space: nowrap;"><!--Mis pacientes-->{{ 'PACI.titulo' | translate }}</p>
          <div *ngIf="searching" class="spinner-container">
            <ion-spinner></ion-spinner>
          </div>
        </ion-list-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="padding-left: 20px;">
       <!-- <ion-badge color="warning" routerDirection="forward" [routerLink]="['/paciente-nuevo']"><ion-icon name="person-add-outline" style="font-size: 14px"></ion-icon> Nuevo paciente</ion-badge>-->
       <ion-button color="warning" size="small" shape="round" routerDirection="forward" [routerLink]="['/paciente-nuevo']"><ion-icon name="person-add-outline" style="font-size: 14px"></ion-icon> <!--Nuevo paciente-->{{ 'PACI.nuevo' | translate }}</ion-button>
      </ion-col>
    </ion-row>

    <ion-card *ngFor="let paciente of pacientes; let idx = index" class="pacientes" button detail>
      <ion-item-sliding>
        <ion-item-options side="end">
            <ion-item-option (click)="elimina(idx)" color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon> <!--Eliminar-->{{ 'PACI.elimina' | translate }}
            </ion-item-option>
          </ion-item-options>
        <ion-item style="--inner-border-width: 0px 0px 0px 0px;">

          <ion-label>
            <ion-row class="ion-align-items-start">
              <ion-col size="8">
                <h2 class="nombrePaciente">{{paciente.nombre}}</h2>
              </ion-col>
              <ion-col size="4" class="ion-align-self-end">
                <ion-row>
                    <ion-col size="6">
                      <ion-icon src="assets/icon/Icon-edit-active.svg" style="font-size:25px;" routerDirection="forward" [routerLink]="['/paciente-detalle/' + paciente.id]"></ion-icon>
                    </ion-col>
                    <ion-col size="6">
                      <ion-icon src="assets/icon/Icon-file-active.svg" style="font-size:25px;" routerDirection="forward" [routerLink]="['/paciente-historial/' + paciente.id]"></ion-icon>
                    </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-label>

        </ion-item>
      </ion-item-sliding>
    </ion-card>
  
  </ion-list>

  <div *ngIf="!searching && (pacientes == null || pacientes.length == 0)">
    <p style="text-align: center;"><!--Sin pacientes encontrados-->{{ 'PACI.sin_pacientes' | translate }}</p>
  </div>
  

</ion-content>

<app-menu-inferior pagina="tres"></app-menu-inferior>