<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="{{ 'COMUN.volver' | translate }}" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-col slot="end">
            <img src="assets/logo - qmuv.svg" width="40%" />
        </ion-col>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list-header>
        <span class="titulo"><!--Editar información paciente-->{{ 'PACI_NEW_EDIT.tit_edit' | translate }}</span>
    </ion-list-header>
    <ion-card>
        <form [formGroup]="userForm" (ngSubmit)="tryActualiza(userForm.value)">
            <ion-list lines="full" class="ion-no-margin ion-no-padding" *ngIf="paciente">
                <ion-item>
                    <ion-label position="stacked">
                        <!--Nombre-->{{ 'PACI_NEW_EDIT.nombre' | translate }} <b class="requerido">*</b></ion-label>
                    <ion-input formControlName="nombre" class="form-controll" required></ion-input>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.nombre">
                            <div class="error-message" *ngIf="userForm.get('nombre').hasError(validation.type) && (userForm.get('nombre').dirty || userForm.get('nombre').touched)">
                                <small>{{ validation.message }}</small>
                            </div>
                        </ng-container>
                    </div>
                </ion-item>

                <ion-item (click)="openDatePicker()">
                    <ion-label position="stacked">
                        <!--Fecha de nacimiento-->{{ 'PACI_NEW_EDIT.fecha_nac' | translate }} <b class="requerido">*</b></ion-label>

                    <ion-input formControlName="fechaNacimiento" class="form-controll" required readonly></ion-input>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.fechaNacimiento">
                            <div class="error-message" *ngIf="userForm.get('fechaNacimiento').hasError(validation.type) && (userForm.get('fechaNacimiento').dirty || userForm.get('fechaNacimiento').touched)">
                                <small>{{ validation.message }}</small>
                            </div>
                        </ng-container>
                    </div>

                </ion-item>

                <ion-item>
                    <ion-label position="stacked">
                        <!--Región-->{{ 'PACI_NEW_EDIT.pais' | translate }} <b class="requerido">*</b></ion-label>

                    <ion-select formControlName="pais" class="form-controll" okText="{{ 'COMUN.aceptar' | translate }}" cancelText="{{ 'COMUN.cancelar' | translate }}">
                        <div *ngFor="let region of regiones">
                            <ion-select-option [value]="region.id">{{region.nombre}}</ion-select-option>
                        </div>
                    </ion-select>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.pais">
                            <div class="error-message" *ngIf="userForm.get('pais').hasError(validation.type) && (userForm.get('pais').dirty || userForm.get('pais').touched)">
                                <small>{{ validation.message }}</small>
                            </div>
                        </ng-container>
                    </div>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">
                        <!--Dirección-->{{ 'PACI_NEW_EDIT.region' | translate }} <b class="requerido">*</b></ion-label>
                    <ion-input formControlName="region" class="form-controll"></ion-input>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.region">
                            <div class="error-message" *ngIf="userForm.get('region').hasError(validation.type) && (userForm.get('region').dirty || userForm.get('region').touched)">
                                <small>{{ validation.message }}</small>
                            </div>
                        </ng-container>
                    </div>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">
                        <!--Dirección-->{{ 'PACI_NEW_EDIT.direccion' | translate }} <b class="requerido">*</b></ion-label>
                    <ion-input formControlName="direccion" class="form-controll"></ion-input>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.direccion">
                            <div class="error-message" *ngIf="userForm.get('direccion').hasError(validation.type) && (userForm.get('direccion').dirty || userForm.get('direccion').touched)">
                                <small>{{ validation.message }}</small>
                            </div>
                        </ng-container>
                    </div>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">
                        <!--Teléfono-->{{ 'PACI_NEW_EDIT.fono' | translate }} <b class="requerido">*</b></ion-label>
                    <ion-input type="tel" formControlName="telefono" class="form-controll"></ion-input>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.telefono">
                            <div class="error-message" *ngIf="userForm.get('telefono').hasError(validation.type) && (userForm.get('telefono').dirty || userForm.get('telefono').touched)">
                                <small>{{ validation.message }}</small>
                            </div>
                        </ng-container>
                    </div>
                </ion-item>

                <ion-item>
                    <ion-label position="stacked">
                        <!--Género-->{{ 'PACI_NEW_EDIT.genero_tit' | translate }} <b class="requerido">*</b></ion-label>
                    <ion-select formControlName="genero" class="form-controll" okText="{{ 'COMUN.aceptar' | translate }}" cancelText="{{ 'COMUN.cancelar' | translate }}">
                        <ion-select-option value="0">
                            <!--Masculino-->{{ 'PACI_NEW_EDIT.gen.mas' | translate }}</ion-select-option>
                        <ion-select-option value="1">
                            <!--Femenino-->{{ 'PACI_NEW_EDIT.gen.fem' | translate }}</ion-select-option>
                    </ion-select>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.genero">
                            <div class="error-message" *ngIf="userForm.get('genero').hasError(validation.type) && (userForm.get('genero').dirty || userForm.get('genero').touched)">
                                <small>{{ validation.message }}</small>
                            </div>
                        </ng-container>
                    </div>
                </ion-item>

                <ion-item>
                    <ion-label position="stacked">
                        <!--Estatura (cm)-->{{ 'PACI_NEW_EDIT.estat' | translate }} <b class="requerido">*</b></ion-label>
                    <ion-input formControlName="altura" type="number" class="form-controll"></ion-input>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.altura">
                            <div class="error-message" *ngIf="userForm.get('altura').hasError(validation.type) && (userForm.get('altura').dirty || userForm.get('altura').touched)">
                                <small>{{ validation.message }}</small>
                            </div>
                        </ng-container>
                    </div>
                </ion-item>

                <ion-item>
                    <ion-label position="stacked">
                        <!--Peso (kg)-->{{ 'PACI_NEW_EDIT.peso' | translate }} <b class="requerido">*</b></ion-label>
                    <ion-input formControlName="peso" type="number" class="form-controll"></ion-input>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.peso">
                            <div class="error-message" *ngIf="userForm.get('peso').hasError(validation.type) && (userForm.get('peso').dirty || userForm.get('peso').touched)">
                                <small>{{ validation.message }}</small>
                            </div>
                        </ng-container>
                    </div>
                </ion-item>

                <ion-item>
                    <ion-label position="stacked">
                        <!--Correo electrónico-->{{ 'PACI_NEW_EDIT.correo' | translate }} <b class="requerido">*</b></ion-label>
                    <ion-input formControlName="email" type="email" class="form-controll" required></ion-input>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.email">
                            <div class="error-message" *ngIf="userForm.get('email').hasError(validation.type) && (userForm.get('email').dirty || userForm.get('email').touched)">
                                <small>{{ validation.message }}</small>
                            </div>
                        </ng-container>
                    </div>
                </ion-item>

                <ion-item>
                    <ion-label position="stacked">
                        <!--Observaciones-->{{ 'PACI_NEW_EDIT.antec' | translate }} <small>({{actual}}/{{max_obs}})</small></ion-label>
                    <!-- <ion-input formControlName="obs" type="text" maxlength="100" class="form-controll"></ion-input> -->
                    <ion-textarea formControlName="obs" [maxlength]=max_obs class="form-control" (ionChange)="cambioObs()" auto-grow="true"></ion-textarea>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.obs">
                            <div class="error-message" *ngIf="userForm.get('obs').hasError(validation.type) && (userForm.get('obs').dirty || userForm.get('obs').touched)">
                                <small>{{ validation.message }}</small>
                            </div>
                        </ng-container>
                    </div>
                </ion-item>

            </ion-list>
            <div class="ion-padding">
                <ion-button expand="block" shape="round" type="submit" class="ion-no-margin" [disabled]="!userForm.valid">
                    <!--Actualizar-->{{ 'COMUN.actualizar' | translate }}</ion-button>
            </div>
        </form>
    </ion-card>
</ion-content>
<app-menu-inferior></app-menu-inferior>