ion-input {
    --background: #E9EAFF;
    --placeholder-font-weight: 6px;
    --padding-start: 10px!important;
    font-size: 14px;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

ion-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.legal {
    white-space: normal;
    font-size: 14px;
    color: #767586;
}

  .pantalla {
    padding: 0%;
    background: url(/assets/fondo-1.svg) no-repeat top center;
    padding: 30px 0 50px;
    color: #ffffff;
    position: relative;
  }

  .botonazo {
    padding-left: 15%;
    padding-right: 15%;
  }

  .error-message{
      font-size: 14px;
      color: #B28B67;
      padding-left: 20px;
      padding-right: 20px;
  }

    .titulo{
    font-family: 'Lato-Regular';
    color: #424D99;
    font-size: 20px;
  }

  ion-row {
    align-items: center;
    text-align: center;
  }

  .header-ios ion-toolbar:last-of-type {
    box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    --border-width: 0 0 0px !important;
}