<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <!--
    <ion-title>Register</ion-title>
    -->
    </ion-toolbar>
</ion-header>

<ion-content class="">
    <div class="pantalla">
        <ion-grid>
            <ion-row class="logo-row">
                <ion-col>
                    <img src="assets/icono - qmuv.svg" />
                </ion-col>
            </ion-row>
            <ion-row class="logo-row">
                <ion-col>
                    <span class="titulo">{{ 'REGISTER.title' | translate }}</span>
                </ion-col>
            </ion-row>
        </ion-grid>

        <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegister(validations_form.value)">

            <ion-item lines="none">
                <ion-label color="medium" position="stacked">{{ 'REGISTER.name' | translate }}</ion-label>
                <ion-input background-color="light" type="text" formControlName="nombre" class="form-controll" required placeholder="José Castellón Martínez"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.nombre">
                    <div class="error-message" *ngIf="validations_form.get('nombre').hasError(validation.type) && (validations_form.get('nombre').dirty || validations_form.get('nombre').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>

            <ion-item lines="none">
                <ion-label color="medium" position="stacked">{{ 'REGISTER.email' | translate }}</ion-label>
                <ion-input type="text" formControlName="email" placeholder="email@ejemplo.com"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.email">
                    <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>

            <ion-item lines="none">
                <ion-label color="medium" position="stacked">{{ 'REGISTER.password' | translate }}</ion-label>
                <ion-input [type]="hide1 ? 'password' : 'text'" formControlName="password" class="form-controll" required placeholder="{{ 'REGISTER.passPlace' | translate }}"></ion-input>
                <ion-icon [name]="hide1 ? 'eye-off' : 'eye'" (click)="hide1 = !hide1" slot="end" style="align-self: flex-end; color: #767586;"></ion-icon>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.password">
                    <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>

            <ion-item lines="none">
                <ion-label color="medium" position="stacked">{{ 'REGISTER.repeatPasssword' | translate }}</ion-label>
                <ion-input [type]="hide2 ? 'password' : 'text'" formControlName="password2" class="form-controll" required placeholder="{{ 'REGISTER.passPlace' | translate }}"></ion-input>
                <ion-icon [name]="hide2 ? 'eye-off' : 'eye'" (click)="hide2 = !hide2" slot="end" style="align-self: flex-end; color: #767586;"></ion-icon>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.password2">
                    <div class="error-message" *ngIf="validations_form.get('password2').hasError(validation.type) && (validations_form.get('password2').dirty || validations_form.get('password2').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>

            <ion-item lines="none">
                <ion-checkbox color="secondary" slot="start" formControlName="legal"></ion-checkbox>
                <ion-label class="legal">{{ 'REGISTER.aceptarTerminos' | translate }} <a href="{{ 'REGISTER.terminos_pdf' | translate }}" target="_blank"><b>{{ 'REGISTER.Terminos' | translate }}</b></a></ion-label>
            </ion-item>


            <div class="botonazo">
                <ion-button expand="full" shape="round" type="submit" [disabled]="!validations_form.valid">{{ 'REGISTER.Regiter' | translate }}
                </ion-button>


                <label class="error-message">{{errorMessage}}</label>
                <label class="success-message">{{successMessage}}</label>
            </div>
        </form>
        <!--
    <p class="go-to-login">Already have an account? <a (click)="goLoginPage()">Try to Log In.</a></p>
    -->
    </div>
</ion-content>