.titulo {
    font-family: "Lato-Regular";
    color: #424d99;
    font-size: 20px;
}

.correo {
    font-family: "Lato-Regular";
    color: #424d99;
    font-size: 15px;
    font-weight: bold;
    margin-top: 17px;
}

.btn-anchoCompleto {
    width: -webkit-fill-available;
    margin: 0 16px;
}