<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button>
                <img src='assets/icon/Icon-menu.svg'>
            </ion-menu-button>
        </ion-buttons>

        <ion-title>
            <app-icono-bt></app-icono-bt>
        </ion-title>

        <ion-col slot="end">
            <img src="assets/logo - qmuv.svg" width="40%" />
        </ion-col>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list-header>
        <span (click)="clickTitulo()" class="titulo"><!--Configuración-->{{ 'CONFIG.config' | translate }}</span>
    </ion-list-header>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>{{ 'CONFIG.lang' | translate }}</ion-card-subtitle>
        </ion-card-header>
        <ion-list>
            <ion-item>
                <ion-label>Select Language</ion-label>
                <ion-select placeholder="Select One" [(ngModel)]="selectedLanguage" (ionChange)="languageChanged()">
                    <ion-select-option value="en">English</ion-select-option>
                    <ion-select-option value="es">Español</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </ion-card>


    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>
                <!--Timed Up & Go-->{{ 'CONFIG.upgo_titulo' | translate }}</ion-card-subtitle>
        </ion-card-header>
        <ion-grid>
            <ion-row>
                <ion-col size="4">
                    <!--Mediciones por sesión-->
                    {{ 'CONFIG.medXses' | translate }}
                </ion-col>
                <ion-col size="8">
                    <ion-segment [(ngModel)]="upgoMediciones" color="primary" (ionChange)="upgoMedChanged($event)">
                        <ion-segment-button value="1">
                            1
                        </ion-segment-button>
                        <ion-segment-button value="2">
                            2
                        </ion-segment-button>
                        <ion-segment-button value="3">
                            3
                        </ion-segment-button>
                    </ion-segment>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4">
                    <!--Tipo de análisis-->
                    {{ 'CONFIG.anaTipo' | translate }}
                </ion-col>
                <ion-col size="8">
                    <ion-list>
                        <ion-radio-group [(ngModel)]="upgoAnalisis" (ionChange)="upgoAnaChanged($event)">
                            <ion-item>
                                <ion-label>
                                    <!--La mejor medición-->{{ 'CONFIG.tipAna_1' | translate }}</ion-label>
                                <ion-radio slot="start" value="0"></ion-radio>
                            </ion-item>

                            <ion-item>
                                <ion-label>
                                    <!--La peor medición-->{{ 'CONFIG.tipAna_2' | translate }}</ion-label>
                                <ion-radio slot="start" value="1"></ion-radio>
                            </ion-item>

                            <ion-item>
                                <ion-label>
                                    <!--El promedio-->{{ 'CONFIG.tipAna_3' | translate }}</ion-label>
                                <ion-radio slot="start" value="2"></ion-radio>
                            </ion-item>
                        </ion-radio-group>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>
                <!--Test de marcha 10 mts-->{{ 'CONFIG.10mts_titulo' | translate }}</ion-card-subtitle>
        </ion-card-header>

        <ion-grid>
            <ion-row>
                <ion-col size="4">
                    <!--Mediciones por sesión-->
                    {{ 'CONFIG.medXses' | translate }}
                </ion-col>
                <ion-col size="8">
                    <ion-segment [(ngModel)]="diezMediciones" color="primary" (ionChange)="diezMedChanged($event)">
                        <ion-segment-button value="1">
                            1
                        </ion-segment-button>
                        <ion-segment-button value="2">
                            2
                        </ion-segment-button>
                        <ion-segment-button value="3">
                            3
                        </ion-segment-button>
                    </ion-segment>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4">
                    <!--Tipo de análisis-->
                    {{ 'CONFIG.anaTipo' | translate }}
                </ion-col>
                <ion-col size="8">
                    <ion-list>
                        <ion-radio-group [(ngModel)]="diezAnalisis" (ionChange)="diezAnaChanged($event)">

                            <ion-item>
                                <ion-label>
                                    <!--La mejor medición-->{{ 'CONFIG.tipAna_1' | translate }}</ion-label>
                                <ion-radio slot="start" value="0"></ion-radio>
                            </ion-item>

                            <ion-item>
                                <ion-label>
                                    <!--La peor medición-->{{ 'CONFIG.tipAna_2' | translate }}</ion-label>
                                <ion-radio slot="start" value="1"></ion-radio>
                            </ion-item>

                            <ion-item>
                                <ion-label>
                                    <!--El promedio-->{{ 'CONFIG.tipAna_3' | translate }}</ion-label>
                                <ion-radio slot="start" value="2"></ion-radio>
                            </ion-item>
                        </ion-radio-group>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-card>

    <!-- Reset -->
    <ion-button shape="round" color="warning btn-anchoCompleto" (click)="resetOnboarding()">{{ 'CONFIG.botonOnbording' | translate }}</ion-button>

    <ion-card *ngIf="countdev > 10">
        <ion-card-header>
            <ion-card-subtitle>Modo Desarrollador</ion-card-subtitle>
        </ion-card-header>
        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    Tipo de QMUV
                </ion-col>
                <ion-col size="6">
                    <ion-segment [(ngModel)]="virtualDevice" color="primary" (ionChange)="virtualChanged($event)">
                        <ion-segment-button value="SI">
                            virtual
                        </ion-segment-button>
                        <ion-segment-button value="NO">
                            real
                        </ion-segment-button>
                    </ion-segment>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="6">
                    DEBUG Log
                </ion-col>
                <ion-col size="6">
                    <ion-segment [(ngModel)]="debugApp" color="primary" (ionChange)="debugChanged($event)">
                        <ion-segment-button value="SI">
                            activado
                        </ion-segment-button>
                        <ion-segment-button value="NO">
                            desactivado
                        </ion-segment-button>
                    </ion-segment>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="6">
                    Escaneo Bluetooth
                </ion-col>
                <ion-col size="6">
                    <ion-segment [(ngModel)]="scanFull" color="primary" (ionChange)="scanChanged($event)">
                        <ion-segment-button value="SI">
                            todo
                        </ion-segment-button>
                        <ion-segment-button value="NO">
                            solo qmuv
                        </ion-segment-button>
                    </ion-segment>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="6">
                    Servidor
                </ion-col>
                <ion-col size="6">
                    <ion-segment [(ngModel)]="servidor" color="primary" disabled=true>
                        
                        <ion-segment-button value="SI">
                            activado
                        </ion-segment-button>
                        <ion-segment-button value="NO">
                            sin servidor
                        </ion-segment-button>
                    </ion-segment>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="6">
                    Firmware
                </ion-col>
                <ion-col size="6">
                    <ion-segment [(ngModel)]="firmware" color="primary" (ionChange)="firmwareChanged($event)">
                        <ion-segment-button value="1.0">
                            Versión 1.0
                        </ion-segment-button>
                        <ion-segment-button value="2.0">
                            Versión 2.0
                        </ion-segment-button>
                    </ion-segment>
                </ion-col>
            </ion-row>

        </ion-grid>
    </ion-card>
    <br/>
    <!--span>{{status}}</span-->
    <br/>
</ion-content>
<app-menu-inferior></app-menu-inferior>