<ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button>
          <img src='assets/icon/Icon-menu.svg'>
        </ion-menu-button>
      </ion-buttons>
      
      <ion-title>
        <app-icono-bt></app-icono-bt>
      </ion-title>
  
      <ion-col slot="end">
        <img src="assets/logo - qmuv.svg" width="40%"/>
      </ion-col>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-list-header>
      <span class="titulo">Tutorial</span>
    </ion-list-header>
    <ion-card>
      <iframe width="100%" height="315" [src]="videoUrl" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
      <ion-card-content>
          <ion-card-title class="titulocard"><b>Tutorial Timed up & go</b></ion-card-title>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <iframe width="100%" height="315" [src]="videoUrl2" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
      <ion-card-content>
          <ion-card-title class="titulocard"><b>Tutorial Test 10 metros</b></ion-card-title>
      </ion-card-content>
    </ion-card>

</ion-content>
<app-menu-inferior></app-menu-inferior>
