ion-button {
    width: 50%;
    height: 60px;
    margin-inline: 0px;
    margin: 0px;
    --border-radius: 0px !important;
    --background: #ffffff !important;
    color: var(--ion-color-primary);
    border: solid 1px var(--ion-color-light-shade) !important;
}

ion-footer {
    border-top: solid 1px var(--ion-color-light-shade) !important;
}

ion-item {
    --padding-start: 20px;
    --padding-end: 20px;
    --border-color: #fff;
}