<ion-header>
    <ion-searchbar (keyup)="filtrarBusqueda($event)" (ionClear)="borrarFiltro($event)" placeholder="{{ 'PACI.filtro' | translate }}"></ion-searchbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-radio-group [(ngModel)]="idUsuarioSelect">
            <ion-item *ngFor="let item of pacientesFiltro">
                <ion-label>{{item.nombre}}</ion-label>
                <ion-radio slot="end" value="{{item.id}}"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>

</ion-content>

<ion-footer>
    <div>
        <ion-button (click)="cerrar()">{{ 'COMUN.cancelar' | translate }}</ion-button>
        <ion-button (click)="enviarPaciente()">{{ 'COMUN.aceptar' | translate }}</ion-button>
    </div>
</ion-footer>